<div class="card col-8" >
  <div class="card-header">
    <h5 class="card-title">{{ "Datos de la etiqueta"|trans }}</h5>
  </div>
  <div class="card-body">
      <form class="user" id="frm_etiqueta"  name="frm_etiqueta" action="" method="post">
      {{ oHash.getCamposHtml|raw }}
        <div class="form-group">
          <label for="descripcion">{{ "Nombre de la etiqueta"|trans }}</label>
          <input type="text" class="form-control col-6" id="nom_etiqueta" name="nom_etiqueta" placeholder="nom_etiqueta" value="{{ nom_etiqueta }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "etiqueta"|trans }}:</label>
          <input name="oficina" type="checkbox" checked data-toggle="toggle" data-on="{{ "de la oficina"|trans }}" data-off="{{ "Personal"|trans }}" data-onstyle="success" data-offstyle="danger">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" onClick="fnjs_cancelar(event);" >
            {{ "Cancelar"|trans }}
		  </button>
		  <button class="btn btn-primary" onClick="fnjs_guardar(event);" >
            {{ "Guardar"|trans}}
  		  </button>
        </div>
      </form>
  </div>
</div>
<!-- Bootstrap Switch Button -->
<!--  OJO: si se pone en la página superior no funciona, alguien debe sobreescribir... -->
<!--  OJO: El java script está en 'usuario_home' para que se cargue sólo una vez -->
<link type="text/css" rel='stylesheet' href='node_modules/bootstrap4-toggle/css/bootstrap4-toggle.min.css' />
<script>
fnjs_cancelar=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }
    event.preventDefault(); //prevent default action 	
	fnjs_update_div('#main',"apps/etiquetas/controller/etiqueta_lista.php");
}

fnjs_guardar=function(event){
    $('#frm_etiqueta').attr('action',"apps/etiquetas/controller/etiqueta_update.php");
    $('#frm_etiqueta').submit(function(event) {
    	event.preventDefault(); //prevent default action 	
    	request=$.ajax({
            url: $(this).attr('action'),
            type: 'post',
            data: $(this).serialize()
        });
        request.done(function (rta_txt) {
            if (rta_txt != '' && rta_txt != '\\n') {
                alert ('{{ "respuesta"|trans }}: '+rta_txt);
            } else {
                fnjs_update_div('#main',"apps/etiquetas/controller/etiqueta_lista.php");
            }
        });
        return false;
    });
}
$(document).ready(function() {
    $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle();
});
</script>
