<!-- Bootstrap core JavaScript-->
<script src="{{ base_url }}/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery CSS -->
<link type="text/css" rel='stylesheet' href='{{ base_url }}/node_modules/jquery-ui/themes/base/all.css'/>
<link type="text/css" rel="stylesheet" href="{{ base_url }}/node_modules/bootstrap/dist/css/bootstrap.css"
      crossorigin="anonymous">
<link href="{{ base_url }}/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<div id="tot" class="container-fluid mt-3">
    <!--  --------------- ASUNTO --------------- -->
    <div class="row">
        <div class="col-9">
            <label class="form-label">{{ "Nombre"|trans|raw }}:</label>
            {{ nom }}
        </div>
    </div>

    <!--  --------------------  ESCRITO  --------------------------  -->
    <div class="border border-secondary rounded p-3">
        {{ escrito_html|raw }}
    </div>
    <!--  --------------------  FECHA  --------------------------  -->
    <div class="clearfix ">
        <div class="d-inline-flex float-start">
            {#
            <div class="p-2 text-dark fw-bold" >
              <button type="button" class="btn btn-outline-secondary" onClick="fnjs_download_pdf({{ id_doc }})">
                  <i class="fa fa-download" aria-hidden="true">  {{ "Descargar en pdf"|trans|raw }}</i>
              </button>
            </div>
          </div>
            #}
            <div class="d-inline-flex float-end">
                <div class="p-2 text-dark fw-bold">
                    {{ f_upload }}
                </div>
            </div>
        </div>
    </div>
</div>