<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_nueva|raw }}');">
	{{ "nuevo documento"|trans|raw }}
</button>
<!-- 
<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_converter_entradas|raw }}');">
	{{ "convertir prot entradas"|trans|raw }}
</button>
<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_converter_escritos|raw }}');">
	{{ "convertir prot escritos"|trans|raw }}
</button>
<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_converter_expedientes|raw }}');">
	{{ "convertir prot expedientes"|trans|raw }}
</button>
 -->
<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">{{ "ver texto"|raw }}</th>
      <th scope="col">{{ "ver datos"|trans|raw }}</th>
      <th scope="col">{{ "creador"|trans|raw }}</th>
      <th scope="col">{{ "nom"|trans|raw }}</th>
      <th scope="col">{{ "visibilidad"|trans|raw }}</th>
      <th scope="col">{{ "etiquetas"|trans|raw }}</th>
      <th scope="col">{{ "f mod"|trans|raw }}</th>
      <th scope="col">{{ "tipo"|trans|raw }}</th>
      <th scope="col">{{ "acción"|trans|raw }}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in a_documentos %}
    <tr>
      <th>{{ row.link_ver|raw }}</th>
      <td>{{ row.link_mod|raw }}</td>
      <td>{{ row.creador|raw }}</td>
      <td>{{ row.nom|raw }}</td>
      <td>{{ row.visibilidad|raw }}</td>
      <td>{{ row.etiquetas|raw }}</td>
      <td>{{ row.f_mod|raw }}</td>
      <td>{{ row.tipo|raw }}</td>
      <td>{{ row.link_accion|raw }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
	tabs_show('{{ vista }}','{{ filtro }}');
});

fnjs_revisar_documento=function(id_doc) {
    var winPrefs="dependent=yes,width=1400,height=800,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
    var url_ajax = 'apps/etherpad/controller/getUrlEscrito.php';
    var param_json = { tipo_id: 'documento', id: id_doc };
    
	if (typeof event !== 'undefined') {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
	}
	
    request=$.ajax({
        data: param_json,
        url: url_ajax,
        method: 'POST'
    });

    request.done( function (url) {
        w=window.open(url, "", winPrefs);
        w.focus();
    });
	request.fail(function(JqXHR, textStatus, errorThrown){
		alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');
        console.error("Hi ha un error: "+ textStatus, errorThrown);
    });

	return false;
}

fnjs_eliminar_documento=function(id_documento){
    seguro=confirm("{{ "¿Está Seguro que desea borrar este documento?"|trans|raw }}");
    if (seguro) {
        var param_json = { que: 'eliminar', id_doc: id_documento };
        request=$.ajax({
            data: param_json,
            url: '{{ url_update|raw }}',
            method: 'POST',
            dataType: 'json'
        });
        request.done( function (json) {
        	if (json.success != true) {
        		alert (json.mensaje);
            } else {
                fnjs_update_div('#main','{{ pagina_cancel|raw }}');
            }
        });
    }
}
</script>