<div id="condiciones">
<form id="que" name="que" action="" method="post">
<input type="hidden" id="filtro" name="filtro" value="{{ filtro }}">
<input type="hidden" id="que" name="que" value="buscar">


  <div class="fs-4 col-10 mb-3 row">{{ "listar documentos"|trans }}:
  </div>
  <!--  --------------- Etiquetas --------------- -->
  <div id="div_etiquetas" class="mb-3 row align-items-center bg-light">
    <label for="etiquetas" class="col-1 form-label">{{ "Etiquetas"|trans }}:</label>
    <div class="col-2">
        <div class="col-6">
          <input type="radio" class="form-check-input" name="andOr" value="OR" {{ chk_or }} >
          <label class="form-check-label">
          {{ "alguna"|trans }}
          </label>
        </div>
        <div class="col-6">
          <input type="radio" class="form-check-input" name="andOr" value="AND" {{ chk_and }} >
          <label class="form-check-label">
          {{ "todas"|trans }}
          </label>
        </div>
	</div>
    <div class="col-6">
      <span id="span_etiquetas">
      	{{ oArrayDesplEtiquetas.ListaSelects|raw }}
      </span>
    </div>
    <!--  --------------------  Botones --------------------------  -->
      <div class="col-2">
        <button id="btn_guardar" type="button" tabindex='90' class="w-100 btn btn-primary" onClick="fnjs_buscar('#que');" >
          {{ "ver lista"|trans }}
        </button>
      </div>
</form>
</div>

{{ include ('_documentos_js.html.twig') }}
<script>
fnjs_buscar=function(formulario){
    $(formulario).attr('action',"apps/documentos/controller/documentos_lista.php");
    fnjs_enviar_formulario(formulario,'#main');
}
</script>