<button type="button" class="btn btn-info" onClick="fnjs_nueva_accion('escrito');">
    {{ "nuevo escrito"|trans|raw }}
</button>
<hr>
<table class="table table-sm table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">{{ "datos"|trans|raw }}</th>
        {% if modo == 'mod' or filtro == 'archivados' %}
            <th scope="col">{{ prot_local_header }}</th>
        {% endif %}
        <th scope="col">{{ "asunto"|trans|raw }}</th>
        <th scope="col">{{ "adj."|trans|raw }}</th>
        <th scope="col">{{ "fecha escrito"|trans|raw }}</th>
        <th scope="col">{{ "destino"|trans|raw }}</th>
        <th scope="col">{{ "ref."|trans|raw }}</th>
        <th scope="col">{{ "enviar"|trans|raw }}</th>
        <th scope="col">{{ "eliminar"|trans|raw }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in a_acciones %}
        <tr>
            <td>{{ row.link_ver|raw }}</td>
            {% if modo == 'mod' or filtro == 'archivados' %}
                <td>{{ row.prot_local|raw }}</td>
            {% endif %}
            <td>{{ row.asunto|raw }}</td>
            <td>{{ row.adjuntos|raw }}</td>
            <td>{{ row.f_escrito|raw }}</td>
            <td>{{ row.destino|raw }}</td>
            <td>{{ row.ref|raw }}</td>
            <td>{{ row.enviar|raw }}</td>
            <td>{{ row.eliminar|raw }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">

    fnjs_nueva_accion = function (tipo_accion) {
        fnjs_update_div('#main', '{{ pag_nuevo_escrito|raw }}');
    }

    fnjs_distribuir_escrito = function (id_escrito) {
        var ssfsv = 'sv';
        var winPrefs = "dependent=yes,width=950,height=700,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
        var server = '{{ server }}';
        var url = server + '/apps/escritos/controller/escrito_distribuir.php?id_escrito=' + id_escrito;
        w = window.open(url, "", winPrefs);
        w.focus();
    }
    fnjs_revisar_escrito = function (id_escrito) {
        var winPrefs = "dependent=yes,width=1400,height=800,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
        var url_ajax = 'apps/etherpad/controller/getUrlEscrito.php';
        var param_json = {tipo_id: 'escrito', id: id_escrito};

        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }

        request = $.ajax({
            data: param_json,
            url: url_ajax,
            method: 'POST'
        });

        request.done(function (rta) {
            // antes, dentro del ajax, hacia falta el responseText
            //url=rta.responseText;
            url = rta;
            w = window.open(url, "", winPrefs);
            if (w === null) {
                alert("{{ "No se puede abrir una nueva ventana. Puede tener bloqueados los popup"|trans|raw }}");
            } else {
                w.focus();
            }
        });
        request.fail(function (JqXHR, textStatus, errorThrown) {
            alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');
            console.error("Hi ha un error: " + textStatus, errorThrown);
        });

        return false;
    }
    fnjs_revisar_adjunto = function (id_escrito) {
        id_expediente = $('#id_expediente').val();
        filtro = $('#filtro').val();
        modo = $('#modo').val();

        var url_ajax = 'apps/escritos/controller/adjunto_revisar.php';
        var param_json = {id_expediente: id_expediente, filtro: filtro, modo: modo, id_escrito: id_escrito};

        request = $.ajax({
            data: param_json,
            url: url_ajax,
            method: 'POST'
        });

        request.done(function (rta) {
            $('#main').html(rta);
        });
    }
    fnjs_eliminar_escrito = function (id_escrito) {
        seguro = confirm("{{ "¿Está Seguro que desea borrar este escrito?"|trans|raw }}");
        if (seguro) {
            $('#slow_load').show();
            var url_doc = "apps/escritos/controller/escrito_update.php";
            var param_json = {que: 'eliminar', id_expediente: 0, id_escrito: id_escrito};
            request = $.ajax({
                data: param_json,
                url: url_doc,
                method: 'POST',
                dataType: 'json'
            });
            request.done(function (json) {
                if (json.success != true) {
                    alert(json.mensaje);
                } else {
                    fnjs_actualizar();
                }
            });
        }
    }

    fnjs_actualizar = function () {
        fnjs_update_div('#main', '{{ pagina_actualizar|raw }}');
    }


</script>

{# Hace falta para que los ctr puedan enviar desde cualquier estado (no solo acabados) #}
{% include '_escrito_enviar_js.html.twig' %}