Para recortar la base de datos de Tramity y Etherpad para hacer pruebas:

<ol>
    <li> Eliminar entradas antes de 3 años, no permanentes
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEntradas.php')">go</button></li>
    <li> Eliminar expedientes antes de 3 años
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarExpedientes.php')">go</button></li>
    <li> Eliminar escritos no permanentes antes de 3 años
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEscritos.php')">go</button></li>
    <li> Eliminar documentos ??? (en todo caso después de cambiar el texto de Etherpad)
        <a href="apps/migration/controller/recortar.php?que=entradas">go</a></li>

    <hr>
    <li> cambiar adjuntos de entradas por los de la cartpeta "log/templates/..."
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarAdjuntosEntradas.php')">go</button></li>
    <li> cambiar adjuntos de escritos por los de la cartpeta "log/templates/..."
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarAdjuntosEscritos.php')">go</button></li>
    <li> ANTECEDENTES????
        <a href="apps/migration/controller/recortar.php?que=entradas_ref">go</a></li>

    <hr>
    <li> borrar revisiones etherpad (mejor primero, para quitar volumen)
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadRevisiones.php')">go</button></li>
    <li> Borrar etherpad sin referencia a entradas
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadSinRef.php')">go</button></li>
    <li> Borrar etherpad sin referencia a escritos
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadSinRefEscritos.php')">go</button></li>
    <li> Cambiar texto etherpad Entradas por texto en docs nums...
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadFakeEntradas.php')">go</button></li>
    <li> Cambiar texto etherpad Escritos por texto en docs nums...
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadFakeEscritos.php')">go</button></li>
    <li> Cambiar texto etherpad Adjuntos por texto en docs nums...
        <button onClick="fnjs_update_div('#main','{{ webserver }}/apps/migration/controller/RecortarEtherpadFakeAdjuntos.php')">go</button></li>

</ol>
  