<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">
<!-- para hacer lineas más pequeñas en el file input -->
<link href="css/custom_file_input.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<!-- Para reducir la ventana file-input: sólo se puede subir un archivo -->
<style>
    .file-drop-zone {
        min-height: 100px !important;
    }
</style>

<h1>{{ titulo }}:</h1>

<form id="form_escrito">
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='filtro' id='filtro' value={{ filtro }}>
    <input type=hidden name='id_doc' id='id_doc' value={{ id_doc }}>
    <input type=hidden name='accion' id='accion' value={{ accion }}>
    <input type=hidden name='id_ponente' id='id_ponente' value={{ id_ponente }}>
    <input type=hidden name='tipo_doc' id='tipo_doc' value={{ tipo_doc }}>

    <div class="col-10">
        <!--  --------------- ASUNTO --------------- -->
        <div class="row">
            <label for="nom" class="col-2 form-label">{{ "Nombre"|trans|raw }}:</label>
            <div class="col">
                <div class="input-group mb-2">
                    <input tabindex='30' type="text" class="form-control" name='nom' id="nom" value="{{ nom }}">
                </div>
            </div>
        </div>
        {#
        <!--  --------------- DETALLE --------------- -->
        <div class="mb-3 row">
          <label for="detalle" class="col-2 form-label">{{ "Detalle"|trans|raw }}:</label>
          <div class='col-6'>
            <input {{ detalle_readonly }} tabindex='50' type="text" class="form-control" name='detalle' id="detalle" value="{{ detalle }}">
          </div>
        </div>
        #}
        <!--  --------------- ETIQUETAS --------------- -->
        <div class="mb-3 row">
            <label for="etiquetas" class="col-2 form-label">{{ "Etiquetas"|trans|raw }}:</label>
            <div class="mb-0 col-8">
        <span id="span_etiquetas">
      	  {{ oArrayDesplEtiquetas.ListaSelects|raw }}
        </span>
            </div>
        </div>


        <div class="row">
            <div class="col-7"> <!-- COL IZQ -->
                <!--  --------------- Visibilidad --------------- -->
                <div class="mb-3 row">
                    <label for="visibilidad" class="col-3 form-label">{{ "Visibilidad"|trans|raw }}:</label>
                    <div class='col-3'>
                        {{ oDesplVisibilidad.desplegable|raw }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <!--  --------------------  ANADIR ESCRITOS  --------------------------  -->
                    {% if tipo_doc == 1 %}
                        <div class="mb-3">
                            <label class="form-label">{{ "Ver escrito"|trans|raw }}:</label>
                            <button tabindex='100' class="btn btn-info" onClick="fnjs_ver_doc_ep();">
                                {{ "Etherpad"|trans|raw }}
                            </button>
                        </div>
                    {% endif %}
                    {% if tipo_doc == 2 %}
                        <p>etherCalc</p>
                    {% endif %}
                    {% if tipo_doc == 3 %}
                        <label class="col-3 form-label">{{ "Tipo de documento"|trans|raw }}:</label>
                        <label class="col-3 form-label">{{ "incrustado"|raw }}</label>
                    {% endif %}
                    {% if tipo_doc is empty %}
                        <label class="col-3 form-label">{{ "Insertar escrito"|trans|raw }}:</label>
                        <div class='col-3'>
                            <button tabindex='100' class="btn btn-info" onClick="fnjs_add_doc(1);">
                                {{ "Etherpad"|trans|raw }}
                            </button>
                        </div>
                        <div class='col-3'>
                            <button tabindex='10' class="btn btn-info" onClick="fnjs_add_doc(3);">
                                {{ "Incrustado"|trans|raw }}
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- FIN COL IZQ -->

            <div class="col-5"> <!-- COL DCHA -->
                <div class="mb-3" id=upload>
                    <div class="file-loading">
                        <input id="escrito_adjunto" name="adjuntos[]" type="file" multiple>
                    </div>
                </div>
            </div> <!-- FIN COL IZQ -->
        </div>


        <div>
            <button tabindex='91' class="btn btn-secondary" onClick="fnjs_cancelar();">
                {{ "Cancelar"|trans|raw }}
            </button>
            <button tabindex='90' class="btn btn-primary" onClick="fnjs_guardar_documento();">
                {{ "Guardar"|trans|raw }}
            </button>
        </div>
    </div>
</form>
{{ include ('_documentos_js.html.twig') }}
<script>
    $(document).ready(function () {
        {% if tipo_doc != 3 %}
        $('#upload').hide();
        {% endif %}
        var el1 = $("#escrito_adjunto");
        el1.fileinput({
            theme: "explorer-fas",
            uploadUrl: "src/documentos/controller/adjunto_upload.php",
            dropZoneEnabled: true,
            dropZoneTitle: "{{ "Arrastrar ficheros aquí"|trans|raw }}",
            browseOnZoneClick: true,
            dropZoneClickTitle: "{{ "(o hacer click para seleccionar ficheros)"|trans|raw }}",
            maxFileCount: 1,
            validateInitialCount: true,
            showUpload: false, // upload button
            showBrowse: true,
            showRemove: false,
            showClose: false,
            allowedPreviewTypes: false,
            hideThumbnailContent: true,
            // this is where the magic happens
            uploadAsync: false,
            removeFromPreviewOnError: true,
            overwriteInitial: false,
            initialPreviewCount: 1,
            initialPreviewAsData: false,
            initialPreview: [ {{ initialPreview|raw }} ],
            initialPreviewConfig: {{ json_config|raw }},
            initialPreviewDownloadUrl: "src/documentos/controller/adjunto_download.php",
            fileActionSettings: {showZoom: false, showDrag: false},
            maxFileSize: {{ post_max_size }},
        });
        el1.on("filebatchselected", function (files) {
            el1.fileinput("upload");
        });
        el1.on('filebatchpreupload', function (event, data, jqXHR) {
            data.formdata.append('id_doc', $("#id_doc").val());
        });
    });
</script>