<h1>{{ titulo }}</h1>
<form id ="form_buscar" >
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='id_expediente' id='id_expediente' value={{ id_expediente }} >
    <input type=hidden name='filtro' id='filtro' value={{ filtro }} >
    
    
  <div class="form-group row">
    <label for="ponente" class="col-2 col-form-label">{{ "Oficina"|trans }}</label>
    <div class="col-1">
	  {{ oDesplOficinas.desplegable|raw }}
    </div>
  </div>
  <div class="form-group row">
    <label for="ponente" class="col-2 col-form-label">{{ "Origen"|trans }}</label>
    <div class="col-1">
	  {{ oDesplLugares.desplegable|raw }}
    </div>
  </div>
  <!--  --------------- ASUNTO --------------- -->
  <div class="form-group row">
    <label for="asunto" class="col-2 col-form-label">{{ "Asunto"|trans }}</label>
    <div class="col-8">
      <input tabindex='30' type="text" class="form-control" name="asunto" id="asunto" value="">
    </div>
  </div>
  <!--  --------------------  Periodo --------------------------  -->
  <div id="div_periodo" class="form-group row">
    <label for="periodo" class="col-2 col-form-label">{{ "periodo"|trans }}:</label>
    <div class="col-5">
		<select tabindex=111 id=periodo name=periodo >
		<option value="mes" {{ sel_mes }}>{{ "hace un mes"|trans }}</option>
		<option value="mes_6" {{ sel_mes_6 }}>{{ "hace 6 meses"|trans }}</option>
		<option value="any_1" {{ sel_any_1 }} >{{ "hace 1 año"|trans }}</option>
		<option value="any_2" {{ sel_any_2 }} >{{ "hace 2 año"|trans }}</option>
		<option value="siempre" {{ sel_siempre }} >{{ "siempre"|trans }}</option>
		</select>
	</div>
  </div>

  <div>
    <button type="button" class="btn btn-secondary" onClick="fnjs_cancelar();" >
      {{ "Cancelar"|trans }}
    </button>
    <button type="button" class="btn btn-primary" onClick="fnjs_buscar();" >
      {{ "Buscar"|trans }}
    </button>
  </div>
</form>
<div id="resultados"></div>
<script>
fnjs_cancelar=function(){
    if (event != undefined) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
        // Asegurarme que es por click y no por return (posicion: 0,0)
        var x = event.x || event.clientX;
        var y = event.y || event.clientY;
        if (!x && !y) {
            return false;
        }
    }
	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
}

fnjs_buscar=function(){
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        return false;
    }

    $('#que').val('buscar');
	datos = $('#form_buscar').serialize();	
	request=$.ajax({
		data: datos,
		url: '{{ pagina_buscar }}',
		type: 'post'
	});
	request.done( function (rta) {
        $('#resultados').html(rta);
	});
}

fnjs_adjuntar_entrada=function(id_entrada,id_expediente,filtro) {
	// adjuntar entrada a expediente (la funcion se carga al cargar el expediente)
	fnjs_adjuntar_antecedente('entrada',id_entrada,id_expediente);
	// ir a nuevo escrito con los valores de asunto,oficinas,  del escrito.
	// a) consultar valores:
    var param_json = { id_expediente: id_expediente, id_entrada: id_entrada, filtro: filtro };
    
	request=$.ajax({
        data: param_json,
        url: '{{ url_escrito|raw }}',
        type: 'post',
        dataType: 'html'
    });
    request.done( function (html) {
        $('#main').html(html);
    });
}
</script>