<h1>{{ titulo }}</h1>
<form id="form_buscar">
    <input type=hidden name='que' id='que' value=''>
    <input type=hidden name='id_expediente' id='id_expediente' value={{ id_expediente }}>
    <input type=hidden name='filtro' id='filtro' value="{{ filtro }}">

    <!--  --------------- ASUNTO --------------- -->
    <div class="mb-3 row">
        <label for="asunto" class="col-1 form-label">{{ "Asunto"|trans|raw }}</label>
        <div class="col-10">
            <input tabindex='30' type="text" class="form-control" name="asunto" id="asunto_buscar" value="{{ asunto }}">
        </div>
    </div>

    <div class="mb-3 row">
        <!--  --------------- OFICINA --------------- -->
        <div id="div_oficinas" class="col-2">
            <label for="oficinas" class="col-1 form-label">{{ "Oficina"|trans|raw }}</label>
            <div class="col-2">
        <span id="span_oficinas">
            {{ oDesplOficinas.Desplegable|raw }}
        </span>
            </div>
        </div>
        <!--  --------------------  Periodo --------------------------  -->
        <div id="div_periodo" class="col-2">
            <label for="periodo" class="col-1 form-label">{{ "periodo"|trans|raw }}:</label>
            <div class="col-2">
                <select tabindex=111 id=periodo name=periodo>
                    <option value="mes" {{ sel_mes }}>{{ "hace un mes"|trans|raw }}</option>
                    <option value="mes_6" {{ sel_mes_6 }}>{{ "hace 6 meses"|trans|raw }}</option>
                    <option value="any_1" {{ sel_any_1 }} >{{ "hace 1 año"|trans|raw }}</option>
                    <option value="any_2" {{ sel_any_2 }} >{{ "hace 2 año"|trans|raw }}</option>
                    <option value="siempre" {{ sel_siempre }} >{{ "siempre"|trans|raw }}</option>
                </select>
            </div>
        </div>
        <!--  --------------------  origen --------------------------  -->
        <div id="div_proto" class="col-8">
            <label class="col-3 form-label">{{ "¿Quién enviaba el escrito?"|trans|raw }}:</label>
            <div class="row">
                <div class="col-6">
                    {{ oDesplOrigen.desplegable|raw }}
                    <input id="prot_num" name="prot_num" size="12" class=contenido
                           title="{{ "protocolo origen"|trans|raw }}"
                           onchange="fnjs_proto('#prot_num','#prot_any','#btn_1')" value="{{ prot_num }}">
                    /
                    <input id="prot_any" name="prot_any" size="5" class=contenido
                           title="{{ "año protocolo origen"|trans|raw }}" value="{{ prot_any }}">
                </div>
                <div class="col-2 ps-3 pt-1">
                    <input id="chk_anulados" name="chk_anulados" type="checkbox"
                           onChange='fnjs_ctr_anulados()' {{ chk_ctr_anulados }}>
                    {{ "ver ctr anulados"|trans|raw }}
                </div>
            </div>
        </div>
    </div>
    <!--  --------------------  botones --------------------------  -->
    <div class="row">
        <div class="col-1">
            <button type="button" class="btn btn-secondary" onClick="fnjs_cancelar();">
                {{ "Cancelar"|trans|raw }}
            </button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" onClick="fnjs_buscar();">
                {{ "Buscar"|trans|raw }}
            </button>
        </div>
    </div>
</form>

<div id="resultados" class="mt-5">
    {{ oLista.mostrar_tabla|raw }}
</div>

<script>
    fnjs_ctr_anulados = function () {
        anulado = $('#chk_anulados').prop("checked");
        if (anulado == true) { //volver a cargar la página
            fnjs_update_div('#main', 'apps/entradas/controller/buscar_form.php?id_expediente={{ id_expediente }}&chk_anulados=1');
        } else {
            fnjs_update_div('#main', 'apps/entradas/controller/buscar_form.php?id_expediente={{ id_expediente }}&chk_anulados=0');
        }
    }
    fnjs_cancelar = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            // Asegurarme que es por click y no por return (posicion: 0,0)
            var x = event.x || event.clientX;
            var y = event.y || event.clientY;
            if (!x && !y) {
                return false;
            }
        }
        fnjs_update_div('#main', '{{ pagina_cancel|raw }}');
    }

    fnjs_buscar = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            // Asegurarme que es por click y no por return (posicion: 0,0)
            var x = event.x || event.clientX;
            var y = event.y || event.clientY;
            if (!x && !y) {
                return false;
            }
        }

        $('#que').val('buscar');
        datos = $('#form_buscar').serialize();
        request = $.ajax({
            data: datos,
            url: '{{ pagina_buscar }}',
            method: 'POST'
        });
        request.done(function (rta) {
            $('#resultados').html(rta);
        });
    }

    fnjs_adjuntar_entrada = function (id_entrada, id_expediente, filtro) {
        // adjuntar entrada a expediente (la funcion se carga al cargar el expediente)
        fnjs_adjuntar_antecedente('entrada', id_entrada, id_expediente);
        // ir a nuevo escrito con los valores de asunto,oficinas,  del escrito.
        // a) consultar valores:
        var param_json = {id_expediente: id_expediente, id_entrada: id_entrada, filtro: filtro};

        request = $.ajax({
            data: param_json,
            url: '{{ url_escrito|raw }}',
            method: 'POST',
            dataType: 'html'
        });
        request.done(function (html) {
            $('#main').html(html);
        });
    }

    fnjs_proto = function (num, any, siguiente) {
        var numero;
        var prot_num = $(num).val();
        numero = prot_num.split("/");
        if (numero[1]) {
            $(num).val(numero[0]);
            $(any).val(numero[1]);
            $(siguiente).focus();
        }
    }

    // Copiado de apps/busquedas/view/buscar_escrito.html.twig
    fnjs_sel_periodo = function (id) {
        var nom = $(id + ' :selected').text();

        switch (nom) {
            case "cr":
                $('#antiguedad').val('1m');
                break;
            case "dlb":
                $('#antiguedad').val('1m');
                break;
            default:
                $('#antiguedad').val('3m');
        }
        $('#b_buscar').focus();
    }
</script>