<!-- Bootstrap core JavaScript-->
<script src="{{ base_url }}/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery CSS -->
<link type="text/css" rel='stylesheet' href='{{ base_url }}/node_modules/jquery-ui/themes/base/all.css'/>
<link type="text/css" rel="stylesheet" href="{{ base_url }}/node_modules/bootstrap/dist/css/bootstrap.css"
      crossorigin="anonymous">
<link href="{{ base_url }}/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<div id="tot" class="container-fluid mt-3">
    <div class="clearfix ">
        <div class="d-inline-flex float-start">
            <div class="p-2 text-dark fw-bold">
                {{ cabeceraIzqd|raw }}
            </div>
        </div>
        <div class="d-inline-flex float-end">
            <div class="p-2 text-dark fw-bold align-top text-end">
                {{ cabeceraDcha|raw }}
            </div>
        </div>
    </div>
    <!--  --------------- ASUNTO --------------- -->
    <div class="row">
        <div class="p-2 text-dark fw-bold">
            {{ visibilidad_txt|raw }}
        </div>
        <div class="col-9">
            <label for="asunto_e" class="form-label">{{ "Asunto entrada"|trans|raw }}:</label>
            {{ asunto_e }}
        </div>
    </div>

    <!--  --------------------  ESCRITO  --------------------------  -->
    <div class="border border-secondary rounded p-3">
        {{ escrito_html|raw }}
    </div>
    <!--  --------------------  FECHA  --------------------------  -->
    <div class="clearfix ">
        <div class="d-inline-flex float-start">
            <div class="p-2 text-dark fw-bold d-print-none">
                <button type="button" class="btn btn-outline-secondary" onClick="fnjs_download_pdf({{ id_entrada }})">
                    <i class="fa fa-download" aria-hidden="true">  {{ "Descargar en pdf"|trans|raw }}</i>
                </button>
            </div>
        </div>
        <div class="d-inline-flex float-end">
            <div class="p-2 text-dark fw-bold">
                {{ f_escrito }}
            </div>
        </div>
    </div>

    <!--  --------------------  ADJUNTOS  --------------------------  -->
    {% if a_adjuntos %}
        <hr>
        <div class="mb-3 col-md-12">
            <label for="input-adjunto" class="form-label">{{ "Adjuntos"|trans|raw }}:</label>
            {% for item,nom in a_adjuntos %}
                <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary"
                        onClick="fnjs_download({{ item }})" title="{{ "decargar original"|trans|raw }}">
                    {{ nom }}</button>

                <button type="button" class="btn btn-outline-secondary bi bi-file-pdf green-color"
                        onClick="fnjs_download_pdf_adjunto({{ item }})" title="{{ "decargar en pdf"|trans|raw }}">
                <i class="fa fa-file-pdf fa-2x" aria-hidden="true"></i></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<hr>
<hr>

<script>
    fnjs_download_pdf = function (id_entrada) {
        url = "{{ url_download_pdf }}" + "?compartida={{ bCompartida }}&id_entrada=" + id_entrada;
        window.open(url);
    }
    fnjs_download = function (item) {
        url = "{{ url_download }}" + "?compartida={{ bCompartida }}&key=" + item;
        window.open(url);
    }
    fnjs_download_pdf_adjunto = function (item) {
        url = "{{ url_download_pdf_adjunto }}" + "?compartida={{ bCompartida }}&key=" + item;
        window.open(url);
    }
</script>
