<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<h1>{{ titulo }}</h1>
<form id ="form_entrada" >
    <input type=hidden name='go' id='go' value=0>
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='hidden_visibilidad' id='hidden_visibilidad' value={{ hidden_visibilidad }} >
    <!-- sirve para cuando se genera antes que la entrada (desde una ventana adicional) -->
	<input type='hidden' id='id_pendiente' name='id_pendiente' value=''>
    <input type=hidden name='filtro' id='filtro' value={{ filtro }} >
    <input type=hidden name='id_entrada' id='id_entrada' value={{ id_entrada }} >
    <input type=hidden name='f_contestar' id='f_contestar' value={{ f_contestar }} >
    <!-- si vengo de buscar, para poder volver -->
    <input type=hidden name='str_condicion' id='str_condicion' value={{ str_condicion }} >
    
<div class="row" >
<!--  col Izda -->
<div class="col-8" >
  <!--  --------------- ORIGEN --------------- -->
  <div class="form-group row" >
  	{{ oProtOrigen.ver_desplegable|raw }}
  </div>
  <!--  --------------- REFERENCIAS --------------- -->
  <div class="form-group row">
    <label for="prot_num" class="col-2 col-form-label">
      {{ "Referencias"|trans }}
    </label>
    <div class="col-10">
      {{ oArrayProtRef.ListaSelects|raw }}
    </div>
  </div>
  <!--  --------------- ASUNTO --------------- -->
  <div class="form-group row">
    <label for="asunto_e" class="col-3 col-form-label">{{ "Asunto entrada"|trans }}</label>
    <div class="col-9">
      <input tabindex='30' type="text" class="form-control" name="asunto_e" id="asunto_e" value="{{ asunto_e }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="asunto" class="col-3 col-form-label">{{ "Asunto secretaria"|trans }}</label>
    <div class="col">
      <input {{ asunto_readonly }} tabindex='40' type="text" class="form-control" name='asunto' id="asunto" value="{{ asunto }}">
    </div>
  </div>
  <!--  --------------- DETALLE --------------- -->
  <div class="form-group row">
    <label for="detalle" class="col-2 col-form-label">{{ "Detalle"|trans }}</label>
    <div class='col-6'>
      <input {{ detalle_readonly }} tabindex='50' type="text" class="form-control" name='detalle' id="detalle" value="{{ detalle }}">
    </div>
  </div>
  <!--  --------------- PONENTE Y OFICINAS --------------- -->
  <div class="form-group row">
    <label for="ponente" class="col-2">{{ "Oficina ponente"|trans }}</label>
    <div class="col-2">
	  {{ oDesplPonenteOficina.desplegable|raw }}
    </div>
    <label for="oficinas" class="col-1">{{ "Oficinas"|trans }}</label>
    <div class="col">
      <span id="span_oficinas">
      	{{ oArrayDesplOficinas.ListaSelects|raw }}
      </span>
    </div>
  </div>
  <!--  --------------- FECHAS --------------- -->
{% if id_entrada %}
  <div class="form-group row">
        <label for="f_entrada" class="col col-2 col-form-label">{{ "Fecha entrada"|trans }}</label>
        <div class='col-3 date'>
          <input tabindex='41' name='f_entrada' id='f_entrada' type='text' class="form-control" value="{{ f_entrada }}" />
        </div>
	    <label for="f_escrito" class="col col-2 col-form-label">{{ "Fecha escrito"|trans }}</label>
        <div class='col-3 date'>
          <input tabindex='31' name='f_escrito' id='f_escrito' type='text' class="form-control" value="{{ f_escrito }}" />
        </div>
  </div> 
{% endif %}
  <!--  --------------- TIPO --------------- -->
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="tipo">{{ "Categoría"|trans }}</label>
      {{ oDesplCategoria.desplegable|raw }}
    </div>
    <div class="form-group col-md-2">
      <label for="visibilidad">{{ "Visibilidad"|trans }}</label>
      {{ oDesplVisibilidad.desplegable|raw }}
    </div>
    <div class="form-group col-md-2">
      <input type="hidden" id="admitir_hidden" name="admitir_hidden" value="{{ badmitido }}" />
      <label>{{ "Admitido (vcd)"|trans }}</label>
      {{ oDesplAdmitido.desplegable|raw }}
    </div>
  </div>
{% if ver_pendiente %}
  <div class="form-group row">
      <label for="plazo" class="mr-3 mt-2">{{ "¿Es necesario contestar?"|trans }}</label>
      {{ oDesplPlazo.desplegable|raw }}
      <div class='col-3 date'>
        <input tabindex='85' name='f_plazo' id='f_plazo' type='text' class="form-control" value="{{ f_contestar }}" />
      </div>
      <button id="btn_pendiente" tabindex='120' class="btn btn-outline-secondary" onClick="fnjs_mod_pendiente();" >
          {{ "modificar pendiente"|trans }}
	  </button>
  </div>
{% endif %}
  <!-- Fin Col Izda -->
</div>
<!--  Col Dcha -->
<div class="col-4" >
	<!--  --------------------  ANADIR ESCRITOS  --------------------------  -->
{% if id_entrada %}
    {% if tipo_documento %}
      <div class="form-group">
        <label>{{ "Ver escrito"|trans }}:</label>
	    {% if tipo_documento == 1 %}
            <button type="button" tabindex='100' class="btn btn-info" onClick="fnjs_ver_doc_ep();" >
              {{ "Etherpad"|trans }}
            </button>
	    {% endif %}
	    {% if tipo_documento == 2 %}
            <button type="button" tabindex='100' class="btn btn-info" onClick="fnjs_ver_doc_ec();" >
              {{ "Ethercalc"|trans }}
            </button>
	    {% endif %}
      </div>
    {% else %}
    <label>{{ "Insertar escrito"|trans }}:</label>
    <div class="form-group">
      <button type="button" tabindex='100' class="btn btn-danger" onClick="fnjs_escrito(1);" >
        {{ "Etherpad"|trans }}
      </button>
      <button type="button" tabindex='101' class="btn btn-danger" onClick="fnjs_escrito(2);" >
        {{ "EtherCalc"|trans }}
      </button>
      <button type="button" tabindex='10' class="btn btn-danger" onClick="fnjs_escrito(3);" >
        {{ "Incrustado"|trans }}
      </button>
    </div>
    {% endif %}
    <hr>
    <div class="form-group">
        <label for="entrada-adjunto">Adjuntos</label>
        <div class="file-loading">
            <input id="entrada-adjunto" name="adjuntos[]" type="file" multiple>
        </div>
    </div>
{% else %}
  <div class="alert alert-warning" role="alert">
    {{ "Para añadir escrito, primero debe guardar la entrada"|trans }}
  </div>
{% endif %}
</div>

<!--  --------------- DISTRIBUCION CR --------------- -->
<div class="form-group row col-12">
<div class="col-md-2">
  <label>{{ "Distribución cr"|trans }}</label>
  {{ oDesplByPass.desplegable|raw }}
</div>
<!--  --------------- Destinos --------------- -->
<div id="dst_cr" class="align-items-center col-10">
  <div class="col-2 col-form-label">
    <label for="prot_num" class="col-2 col-form-label">
      {{ "Destinos"|trans }}
    </label>
    <div class="custom-control custom-switch align-middle">
      <input type="checkbox" class="custom-control-input" name="grupo_dst" id="grupo_dst" {{ chk_grupo_dst }} onChange="fnjs_grupo()" />
      <label class="custom-control-label" for="grupo_dst">Grupo</label>
    </div>
  </div>
  <div id="dst_array" class="col-10">
    {{ oArrayProtDestino.ListaSelects|raw }}
  </div>
  <div id="dst_grupo" class="col-10">
    {{ oArrayDesplGrupo.ListaSelects|raw }}
  </div>
</div>
</div>

<div>
  <button type="button" tabindex='91' class="btn btn-secondary" onClick="fnjs_cancelar();" >
    {{ "Cancelar"|trans }}
  </button>
  <button id="btn_guardar" type="button" tabindex='90' class="btn btn-primary" onClick="fnjs_guardar();" >
    {{ txt_btn_guardar }}
  </button>
</div>
</form>

{{ include ('_entrada_form_js.html.twig') }}
{{ include ('_entrada_escritos_js.html.twig') }}
{{ include ('_entrada_bypass_js.html.twig') }}
<script>
$(document).ready(function() {
	var el1 = $("#entrada-adjunto");
	el1.fileinput({
    	theme: "explorer-fas",
        uploadUrl: "apps/entradas/controller/upload.php",
        dropZoneEnabled: true,
        dropZoneTitle: "{{ "Arrastrar ficheros aquí"|trans }}",
        browseOnZoneClick: true,
        dropZoneClickTitle: "{{ "(o hacer click para seleccionar ficheros)"|trans }}",
        maxFileCount: 5,
        showUpload: false, // upload button
        showBrowse: true,
        showRemove: false,
        showClose: false,
        allowedPreviewTypes: false,
        hideThumbnailContent: true,
        // this is where the magic happens
        uploadAsync: false,
        uploadExtraData:{ que: "upload_adjunto", id_entrada: "{{ id_entrada }}" },
        removeFromPreviewOnError: true,
        overwriteInitial: false,
        initialPreviewAsData: false,
     	initialPreview: [ {{ initialPreview|raw }} ],
        initialPreviewConfig: {{ json_config|raw }},
        initialPreviewDownloadUrl: "apps/entradas/controller/download.php",
        fileActionSettings: {showZoom: false, showDrag: false},
    }).on("filebatchselected", function(files) {
        el1.fileinput("upload");
    });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
	tabs_hide();
});
</script>