<h1>{{ titulo }}:</h1> 
<form id ="form_enviar" >
  <input type=hidden name='que' id='que' value=0>
  <!-- hace falta para poder ver el ecrito (fnjs_ver_doc_ep)  -->
  <input type=hidden name='id_entrada' id='id_entrada' value={{ id_entrada }} >
  <div class="row col-10">
      <label class="col-2 col-form-label">{{ "Protocolo entrada"|trans }}</label>
      <div class="col-7 alert alert-warning" role="alert">
      {{ oProtOrigen.ver_txt|raw }}
      {{ oArrayProtRef.ListaTxt|raw }}
      </div>
      <div class="col-3">
      <label for="">{{ "Ver escrito"|trans }}:</label>
      <button type="button" tabindex='100' class="btn btn-info" onClick="fnjs_ver_doc_ep(event);" >
          {{ "Etherpad"|trans }}
      </button>
    </div>
  </div>
  <div class="row col-10">
    <label for="asunto_e" class="col-2 col-form-label">{{ "Asunto entrada"|trans }}</label>
    <div class="col-10 alert alert-warning" role="alert">
      {{ asunto_e }}
    </div>
  </div>
  <div class="row col-10">
    <label for="asunto" class="col-2 col-form-label">{{ "Asunto secretaria"|trans }}</label>
    <div class="col-10 alert alert-warning" role="alert">
      <input tabindex='50' type="text" class="form-control" name='asunto' id="asunto" value="{{ asunto }}">
    </div>
  </div>
  <!--  --------------- PONENTE Y OFICINAS --------------- -->
  <div class="row col-10">
    <label for="asunto_e" class="col-2 col-form-label">{{ "Oficinas"|trans }}</label>
    <div class="col-4 alert alert-warning" role="alert">
      {{ oficinas_txt }}
    </div>
    <!--  --------------- FECHA SALIDA --------------- -->
    <label for="f_salida" class="col col-2 col-form-label text-right">{{ "Fecha salida"|trans }}</label>
    <div class='col-2 date datepicker' data-provide="datepicker">
      <input tabindex='41' name='f_salida' id='f_salida' type='text' class="form-control" value="{{ f_salida }}" />
    </div>
  </div>
  <!--  --------------------  ADJUNTOS  --------------------------  -->
  <div class="form-group col-md-12">
    <label for="input-adjunto">{{ "Adjuntos"|trans }}:</label>
  {% for item,nom in a_adjuntos %}
	<button type="button" class="btn btn-outline-secondary" onClick="fnjs_download({{ item }})">{{ nom }}</button>
  {% endfor %}
  </div>
  <!--  --------------- Destinos --------------- -->
  <div class="form-group row align-items-center col-8">
      <div class="col-2 col-form-label">
        <label for="prot_num" class="col-2 col-form-label">
          {{ "Destinos"|trans }}
        </label>
        <div class="custom-control custom-switch align-middle">
          <input type="checkbox" class="custom-control-input" name="grupo_dst" id="grupo_dst" {{ chk_grupo_dst }} onChange="fnjs_grupo()" />
          <label class="custom-control-label" for="grupo_dst">Grupo</label>
        </div>
      </div>
      <div id="dst_array" class="col-10">
	    {{ oArrayProtDestino.ListaSelects|raw }}
      </div>
      <div id="dst_grupo" class="col-10">
	    {{ oArrayDesplGrupo.ListaSelects|raw }}
      </div>
  </div>
</form> 
  
</div>
  <button tabindex='91' class="btn btn-secondary" onClick="fnjs_cancelar(event);" >
    {{ "Cancelar"|trans }}
  </button>
  <button tabindex='90' class="btn btn-primary" onKeyUp="fnjs_enviar(event);" onClick="fnjs_enviar(event);" >
    {{ "Enviar"|trans }}
  </button>
</form>
{# Per ficar l'escrit, si cal #}
<div id="prova">
</div>
</div>

{{ include ('_entrada_escritos_js.html.twig') }}
{{ include ('_entrada_bypass_js.html.twig') }}
<script>
fnjs_download=function(item) {
	url = "{{ url_download }}"+"&key="+item;
	window.open(url);
}

fnjs_enviar=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }

	var err=0;
	var asunto=$('#asunto').val();
	var f_salida=$('#f_salida').val();
	var id_entrada=$('#id_entrada').val();

	if (!asunto) { alert("{{ "Debe llenar el campo de asunto"|trans }}"); err=1; }
	if (!fnjs_comprobar_fecha('#f_salida')) { err=1; }
	if (!f_salida) { alert("{{ "Debe llenar el campo de fecha de salida"|trans }}"); err=1; }
	
	if (err!=1) {
		$('#form_enviar').attr('action','{{ url_update }}');
		$('#que').val('guardar_destinos');
		$('#form_enviar').one("submit", function(event){
			event.preventDefault(); //prevent default action 	
            request=$.ajax({
                data: $(this).serialize(),
                url: $(this).attr('action'),
                type: 'post',
                dataType: 'json'
            });
            request.done( function (rta) {
                var json=rta;
                if (json.success != true) {
                    rta_txt = rta.responseText;
                    alert ('error: '+rta_txt);
                } else {
                    window.open('/apps/entradas/controller/entrada_enviar.php?id='+id_entrada+'&f_salida='+f_salida, "down");
                    // Actualizar vista expadiente: escrito enviado.
                    fnjs_cancelar(event);
                    return false;
                }
            });
		});
		$('#form_enviar').submit();
	} else {
        event.preventDefault();
	}
}

fnjs_cancelar=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }
    event.preventDefault(); //prevent default action 	
	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
}

</script>