<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">
<!-- para hacer lineas más pequeñas en el file input -->
<link href="css/custom_file_input.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<h1>{{ titulo }}</h1>
<form id="form_entrada">
    <input type=hidden name='go' id='go' value=0>
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='hidden_visibilidad' id='hidden_visibilidad' value={{ hidden_visibilidad }}>
    <!-- sirve para cuando se genera antes que la entrada (desde una ventana adicional) -->
    <input type='hidden' id='id_pendiente' name='id_pendiente' value=''>
    <input type=hidden name='filtro' id='filtro' value={{ filtro }}>
    <input type=hidden name='id_entrada' id='id_entrada' value={{ id_entrada }}>
    <input type=hidden name='f_contestar' id='f_contestar' value={{ f_contestar }}>
    <!-- si vengo de buscar, para poder volver -->
    <input type=hidden name='str_condicion' id='str_condicion' value={{ str_condicion }}>

    <div class="row">
        <!--  col Izda -->
        <div class="col-8">
            <!--  --------------- ORIGEN --------------- -->
            <div class="mb-3 row">
                {{ oProtOrigen.ver_desplegable|raw }}
            </div>
            <!--  --------------- REFERENCIAS --------------- -->
            <div class="mb-3 row">
                <label for="prot_num" class="col-2 form-label">
                    {{ "Referencias"|trans|raw }}
                </label>
                <div class="col-10">
                    {{ oArrayProtRef.ListaSelects|raw }}
                </div>
            </div>
            <!--  --------------- ASUNTO --------------- -->
            <div class="mb-3 row">
                <label for="asunto_e" class="col-3 form-label">{{ "Asunto entrada"|trans|raw }}</label>
                <div class="col-9">
                    <input tabindex='100' type="text" class="form-control" name="asunto_e" id="asunto_e"
                           value="{{ asunto_e }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="asunto" class="col-3 form-label">{{ "Asunto secretaria"|trans|raw }}</label>
                <div class="col">
                    <div class="input-group mb-2">
                        <span class="input-group-text">{{ anulado_txt }}</span>
                        <input {{ asunto_readonly }} tabindex='105' type="text" class="form-control" name='asunto'
                                                     id="asunto" value="{{ asunto }}">
                    </div>
                </div>
            </div>
            <!--  --------------- DETALLE --------------- -->
            <div class="mb-3 row">
                <label for="detalle" class="col-2 form-label">{{ "Detalle"|trans|raw }}</label>
                <div class='col-6'>
                    <input {{ detalle_readonly }} tabindex='110' type="text" class="form-control" name='detalle'
                                                  id="detalle" value="{{ detalle }}">
                </div>
            </div>
            <!--  --------------- PONENTE Y OFICINAS --------------- -->
            <div class="mb-3 row">
                <label for="ponente" class="col-2">{{ "Oficina ponente"|trans|raw }}</label>
                <div class="col-2">
                    {{ oDesplPonenteOficina.desplegable|raw }}
                </div>
                <label for="oficinas" class="col-1">{{ "Oficinas"|trans|raw }}</label>
                <div class="col">
                  <span id="span_oficinas">
                    {{ oArrayDesplOficinas.ListaSelects|raw }}
                  </span>
                </div>
            </div>
            <!--  --------------- FECHAS --------------- -->
            {% if id_entrada %}
                <div class="mb-3 row">
                    <label for="f_entrada" class="col col-2 form-label">{{ "Fecha entrada"|trans|raw }}</label>
                    <div class='col-3 date'>
                        <input tabindex='150' name='f_entrada' id='f_entrada' type='text' class="form-control"
                               value="{{ f_entrada }}"/>
                    </div>
                    <label for="f_escrito" class="col col-2 form-label">{{ "Fecha escrito"|trans|raw }}</label>
                    <div class='col-3 date'>
                        <input tabindex='155' name='f_escrito' id='f_escrito' type='text' class="form-control"
                               value="{{ f_escrito }}"/>
                    </div>
                </div>
            {% endif %}
            <!--  --------------- TIPO --------------- -->
            <div class="row">
                <div class="mb-3 col-md-2">
                    <label for="tipo">{{ "Categoría"|trans|raw }}</label>
                    {{ oDesplCategoria.desplegable|raw }}
                </div>
                <div class="mb-3 col-md-2">
                    <label for="visibilidad">{{ "Visibilidad"|trans|raw }}</label>
                    {{ oDesplVisibilidad.desplegable|raw }}
                </div>
                <div class="mb-3 col-md-2">
                    <input type="hidden" id="admitir_hidden" name="admitir_hidden" value="{{ badmitido }}"/>
                    <label>{{ "Admitido (vcd)"|trans|raw }}</label>
                    {{ oDesplAdmitido.desplegable|raw }}
                </div>
            </div>
            {% if ver_pendiente %}
                <div class="mb-3 row">
                    <label for="plazo" class="col-3 me-3 mt-2">{{ "¿Es necesario contestar?"|trans|raw }}</label>
                    <div class="col-2">
                        {{ oDesplPlazo.desplegable|raw }}
                    </div>
                    <div class='col-2 date'>
                        <input tabindex='185' name='f_plazo' id='f_plazo' type='text' class="form-control"
                               value="{{ f_contestar }}"/>
                    </div>
                    <button id="btn_pendiente" tabindex='188' class="col-2 btn btn-outline-secondary"
                            onClick="fnjs_mod_pendiente();">
                        {{ "modificar pendiente"|trans|raw }}
                    </button>
                </div>
            {% endif %}
            <!-- Fin Col Izda -->
        </div>
        <!--  Col Dcha -->
        <div class="col-4">
            <!--  --------------------  ANADIR ESCRITOS  --------------------------  -->
            {% if id_entrada %}
                {% if tipo_documento %}
                    <div class="mb-3">
                        <label>{{ "Ver escrito"|trans|raw }}:</label>
                        {% if tipo_documento == 1 %}
                            <button type="button" tabindex='300' class="btn btn-info" onClick="fnjs_ver_doc_ep();">
                                {{ "Etherpad"|trans|raw }}
                            </button>
                        {% endif %}
                        {% if tipo_documento == 2 %}
                            <button type="button" tabindex='300' class="btn btn-info" onClick="fnjs_ver_doc_ec();">
                                {{ "Ethercalc"|trans|raw }}
                            </button>
                        {% endif %}
                    </div>
                {% else %}
                    <label class="form-label">{{ "Insertar escrito"|trans|raw }}:</label>
                    <div class="mb-3">
                        <button type="button" tabindex='300' class="btn btn-danger" onClick="fnjs_escrito(1);">
                            {{ "Etherpad"|trans|raw }}
                        </button>
                        <button type="button" tabindex='301' class="btn btn-danger" onClick="fnjs_escrito(2);">
                            {{ "EtherCalc"|trans|raw }}
                        </button>
                        <button type="button" tabindex='302' class="btn btn-danger" onClick="fnjs_escrito(3);">
                            {{ "Incrustado"|trans|raw }}
                        </button>
                    </div>
                {% endif %}
                <hr>
                <div class="mb-3">
                    <label for="entrada-adjunto" class="form-label">{{ "Adjuntos"|trans|raw }}</label>
                    <div class="file-loading">
                        <input id="entrada-adjunto" name="adjuntos[]" type="file" multiple>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    {{ "Para añadir escrito, primero debe guardar la entrada"|trans|raw }}
                </div>
            {% endif %}
        </div>

        <!--  --------------- DISTRIBUCION CR --------------- -->
        <div class="mb-3 row col-12">
            <div class="col-md-2">
                <label class="form-label">{{ "Distribución cr"|trans|raw }}</label>
                {{ oDesplByPass.desplegable|raw }}
            </div>
            <!--  --------------- Destinos --------------- -->
            <div id="dst_cr" class="align-items-center col-10">
                <div class="col-2 form-label">
                    <label for="prot_num" class="col-2 form-label">
                        {{ "Destinos"|trans|raw }}
                    </label>
                    <div id="dst_grupo_chk" class="form-check form-switch align-middle">
                        <input type="checkbox" class="form-check-input" name="grupo_dst"
                               id="grupo_dst" {{ chk_grupo_dst }} onChange="fnjs_grupo()"/>
                        <label class="form-check-label" for="grupo_dst">Grupo</label>
                    </div>
                </div>
                <div id="dst_array" class="col-10">
                    {{ oArrayProtDestino.ListaSelects|raw }}
                </div>
                <div id="dst_grupo" class="col-10">
                    {{ oArrayDesplGrupo.ListaSelects|raw }}
                </div>
            </div>
        </div>

        <div>
            <button type="button" tabindex='1' class="btn btn-secondary" onClick="fnjs_cancelar();">
                {{ "Cancelar"|trans|raw }}
            </button>
            <button id="btn_guardar" type="button" tabindex='220' class="btn btn-primary"
                    onClick="fnjs_guardar_entrada();">
                {{ txt_btn_guardar }}
            </button>
        </div>
    </div>
</form>

{{ include ('_entrada_form_js.html.twig') }}
{{ include ('_entrada_escritos_js.html.twig') }}
{{ include ('_entrada_bypass_js.html.twig') }}
<script>
    $(document).ready(function () {
        var el1 = $("#entrada-adjunto");
        el1.fileinput({
            theme: "explorer-fas",
            uploadUrl: "apps/entradas/controller/upload.php",
            dropZoneEnabled: true,
            dropZoneTitle: "{{ "Arrastrar ficheros aquí"|trans|raw }}",
            browseOnZoneClick: true,
            dropZoneClickTitle: "{{ "(o hacer click para seleccionar ficheros)"|trans|raw }}",
            maxFileCount: 5,
            showUpload: false, // upload button
            showBrowse: true,
            showRemove: false,
            showClose: false,
            allowedPreviewTypes: false,
            hideThumbnailContent: true,
            // this is where the magic happens
            uploadAsync: false,
            uploadExtraData: {id_entrada: "{{ id_entrada }}"},
            removeFromPreviewOnError: true,
            overwriteInitial: false,
            initialPreviewAsData: false,
            initialPreview: [ {{ initialPreview|raw }} ],
            initialPreviewConfig: {{ json_config|raw }},
            initialPreviewDownloadUrl: "apps/entradas/controller/download.php",
            fileActionSettings: {showZoom: false, showDrag: false},
            maxFileSize: {{ post_max_size }},
        }).on("filebatchselected", function (files) {
            el1.fileinput("upload");
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        tabs_hide();
    });
</script>