<!-- Modal -->
<div class="modal fade" id="ModalBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ "Asignar entrada"|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div id="busqueda">
          <!--  --------------- BUSQUEDAS (entradas por asunto, oficina, cargos) --------------- -->
          
          <!--  --------------- Cargos de la oficina --------------- -->
          <div class="form-group row" id="busqueda_cargos_oficina">
            <label for="cargo" class="col-2 col-form-label">{{ "Encargar a" }}:</label>
            <div class="col-4">
              {{ oDesplCargosOficina.desplegable|raw }}
            </div>
              <div class="col-4">
                <button type="button" class="btn btn-primary" onClick="fnjs_encargar();" >{{ "Encargar"|trans }}</button>
              </div>
          </div>
        </div>
      	<div id="lista">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div class="card w-50 mx-auto ">
  <div class="card-header">
    <h5 class="card-title">{{ "Acciones para la entrada"|trans }}: ({{ protocolo }})</h5>
    <h5 class="card-title">{{ asunto }}</h5>
  </div>
  <div class="card-body">
<div class="row">
{% for row in a_botones %}
  <div class="col">
  	{% if row.tipo == 'modal' %}
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalBuscar" onClick="fnjs_buscar('{{ row.accion }}');" >
        {{ row.txt }}
      </button>
  	{% else %}
	  <button type="button" class="btn btn-info" onclick="fnjs_accion('{{ row.accion }}')">{{ row.txt }}</button>
  	{% endif %}
  </div>
{% endfor %}
</div>
</div>
</div>

<div class="row">
<div class="col" style="margin: 1cm;"><!-- per quedar alineat del pills que també tenen un marge de 1cm. -->
  <button type="button" class="btn btn-secondary" onClick="fnjs_cancelar();" >
    {{ "Cancelar"|trans }}
  </button>
</div>
</div>
    
<script>
fnjs_accion=function(accion){
    var url_ajax = 'apps/entradas/controller/entrada_update.php';
    var param_json = { que: accion, id_entrada: {{ id_entrada }} };
    request=$.ajax({
        data: param_json,
        url: url_ajax,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
        if (json.success != true) {
            rta_txt = json.mensaje;
            alert ('error: '+rta_txt);
        } else {
        	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
        }
    });
	// close div modal
    $('#ModalBuscar .close').click();
}

fnjs_encargar=function() {
	var que='en_asignar';
	var id_entrada={{ id_entrada }};
	var id_cargo=$('#id_cargo').val();
	
    var url_ajax = 'apps/entradas/controller/entrada_update.php';
    var param_json = { que: que, id_entrada: id_entrada, id_cargo: id_cargo };
    request=$.ajax({
        data: param_json,
        url: url_ajax,
        type: 'post',
        dataType: 'json'
    });
    request.done( function (json) {
    	if (json.success != true) {
    		alert (json.mensaje);
        } else {
            fnjs_update_div('#main','{{ pagina_cancel|raw }}');
        }
    });
	// close div modal
    $('#ModalBuscar .close').click();
}

fnjs_cancelar=function(){
    if (event != undefined) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
        // Asegurarme que es por click y no por return (posicion: 0,0)
        var x = event.x || event.clientX;
        var y = event.y || event.clientY;
        if (!x && !y) {
            return false;
        }
    }
	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
}
</script>