{% if btn_new %}
<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_nueva|raw }}');">
	{{ txt_btn_new }}
</button>
{% endif %}
<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      {% if secretaria %}
        <th scope="col">#</th>
      {% endif %}
      <th scope="col">##</th>
      <th scope="col">{{ "protocolo"|trans }}</th>
      <th scope="col">{{ "ref."|trans }}</th>
      <th scope="col">{{ "categoria"|trans }}</th>
      <th scope="col">{{ "visibilidad"|trans }}</th>
      <th scope="col">{{ "asunto"|trans }}</th>
      <th scope="col">{{ "oficinas"|trans }}</th>
      <th scope="col">{{ "fecha escrito"|trans }}</th>
      <th scope="col">{{ "contestar antes de"|trans }}</th>
      <th scope="col">{{ "fecha entrada"|trans }}</th>
      {% if ver_accion %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for row in a_entradas %}
    <tr>
      {% if secretaria %}
        <td>{{ row.link_mod|raw }}</td>
      {% endif %}
      <td>{{ row.link_ver|raw }}</td>
      <td>{{ row.protocolo }}</td>
      <td>{{ row.referencias|raw }}</td>
      <td>{{ row.categoria }}</td>
      <td>{{ row.visibilidad }}</td>
      <td>{{ row.asunto|raw }}</td>
      <td>{{ row.oficinas|raw }}</td>
      <td style="text-align: right">{{ row.f_escrito }}</td>
      <td style="text-align: right">{{ row.f_contestar }}</td>
      <td style="text-align: right">{{ row.f_entrada }}</td>
      {% if ver_accion %}
        <td>{{ row.link_accion|raw }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
	tabs_show('{{ vista }}','{{ filtro }}');
});
fnjs_ver_entrada=function(id_entrada) {
    var ssfsv = 'sv';
    var winPrefs="dependent=yes,width=950,height=700,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
    var server = '{{ server }}';
    var url = server+'/apps/entradas/controller/entrada_ver.php?id_entrada='+id_entrada;
    w=window.open(url, "", winPrefs);
    w.focus();
}
</script>