<div id="condiciones">
<form id="que" name="que" action="" method="post">
<input type="hidden" id="filtro" name="filtro" value="{{ filtro }}">
<input type="hidden" id="que" name="que" value="buscar">


  <div class="fs-4 col-10 mb-3 row">{{ "listar entradas de oficina"|trans|raw }}:
   <!--  --------------- OFICINA PROPIA/RESTO --------------- -->
    <div class="col-4">
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input fs-5 mt-2" name="oficina" value="propia" {{ chk_of_propia }} onClick="fnjs_buscar('#que');" >
      <label class="form-check-label">
      {{ "propia"|trans|raw }}
      </label>
	</div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input fs-5 mt-2" name="oficina" value="resto" {{ chk_of_resto }} onClick="fnjs_buscar('#que');" >
      <label class="form-check-label">
      {{ "resto"|trans|raw }}
      </label>
	</div>
  </div>
  </h3>
  
</form>
</div>

<script>
fnjs_buscar=function(formulario){
    $(formulario).attr('action',"apps/entradas/controller/entrada_lista.php");
    fnjs_enviar_formulario(formulario,'#main');
}
</script>