<div id="condiciones">
<form id="que" name="que" action="" method="post">
<input type="hidden" id="filtro" name="filtro" value="{{ filtro }}">
<input type="hidden" id="que" name="que" value="buscar">

<h2>{{ "listar expedientes"|trans }}</h2>

   <!--  --------------- ASUNTO --------------- -->
  <div class="form-group row">
    <label for="asunto" class="col-2 col-form-label">{{ "¿De que asunto trataba?"|trans }}</label>
    <div class="col-8">
      <input tabindex='30' type="text" class="form-control" name="asunto" id="asunto" value="{{ asunto }}">
    </div>
  </div>
  <!--  --------------- Etiquetas --------------- -->
  <div id="div_etiquetas" class="form-group row align-items-center">
    <label for="etiquetas" class="col-1">{{ "Etiquetas"|trans }}:</label>
    <div class="col-6">
      <span id="span_etiquetas">
      	{{ oArrayDesplEtiquetas.ListaSelects|raw }}
      </span>
    </div>
  <!--  --------------------  Periodo --------------------------  -->
    <label for="periodo" class="col-xs-1">{{ "periodo"|trans }}:</label>
    <div class="col">
		<select tabindex=111 id=periodo name=periodo >
		<option value="mes" {{ sel_mes }}>{{ "hace un mes"|trans }}</option>
		<option value="mes_6" {{ sel_mes_6 }}>{{ "hace 6 meses"|trans }}</option>
		<option value="any_1" {{ sel_any_1 }} >{{ "hace 1 año"|trans }}</option>
		<option value="any_2" {{ sel_any_2 }} >{{ "hace 2 año"|trans }}</option>
		<option value="siempre" {{ sel_siempre }} >{{ "siempre"|trans }}</option>
		</select>
	</div>
  </div>
  <!--  --------------------  Botones --------------------------  -->
  <div class="row">
    <button id="btn_guardar" type="button" tabindex='90' class="btn btn-primary" onClick="fnjs_buscar('#que');" >
      {{ "buscar"|trans }}
    </button>
  </div>
</form>
</div>

<script>
fnjs_buscar=function(formulario){
    $(formulario).attr('action',"apps/expedientes/controller/expediente_lista.php");
    fnjs_enviar_formulario(formulario,'#main');
}

{{ oArrayDesplEtiquetas.ComprobarSelectJs|raw }}
fnjs_mas_etiquetas=function(e){
	var code = (e.keyCode ? e.keyCode : e.which);
	if(e=="x") {
		var valor=1;
	} else {
		var id_campo='#'+e.currentTarget.id;
		var valor=$(id_campo).val();
		if(code!=9) {
			e.preventDefault();
			e.stopPropagation();
		}
	}
	if ( code==9 || e.type=="change" || e=="x") {
		if (valor!=0) {
			{{ oArrayDesplEtiquetas.ListaSelectsJs|raw }}
		}
	}
}

fnjs_quitar_etiquetas=function(){
	$('#span_etiquetas').html("");
	$('#etiquetas_num').val(0);
}
</script>
            


