<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<form id ="form_escrito" >
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='id_expediente' id='id_expediente' value={{ id_expediente }} >
    <input type=hidden name='id_escrito' id='id_escrito' value={{ id_escrito }} >
    <input type=hidden name='accion' id='accion' value={{ accion }} >
    <input type=hidden name='id_ponente' id='id_ponente' value={{ id_ponente }} >
    
<!--  --------------- CABECERAS --------------- -->
<div class="clearfix ">
  <div class="d-inline-flex float-left">
    <div class="p-2 text-dark font-weight-bold" >
      {{ cabeceraIzqd|raw }}
    </div>
  </div>
  <div class="d-inline-flex float-right">
    <div class="p-2 text-dark font-weight-bold align-top text-right" >
      {{ cabeceraDcha|raw }}
    </div>
  </div>
</div>
<!--  --------------- ASUNTO --------------- -->
<div class="alert alert-info" role="alert">
<strong>{{ "Asunto"|trans }}:</strong> 
{{ asunto_detalle }}
</div>
<!--  --------------- ENTRADILLA --------------- -->
<div class="alert alert-primary" role="alert">
<strong>{{ "Entradilla"|trans }}:</strong> 
<textarea rows="5" class="form-control" readonly>
  {{ entradilla }}
</textarea>
</div>
<!--  --------------- FECHA --------------- -->
<div class="form-group row">
  <label for="f_escrito" class="col-4 col-form-label">{{ "Fecha del escrito"|trans }}:
    {{ f_escrito }}</label>
</div>

<div class="row" >
    {# Per ficar l'escrit, si cal #}
    <div id="prova">
    {{ iframe|raw }}
    </div>
</div>

<br>
<div class="row" >
    <div class="form-group row">
      <button tabindex='91' class="btn btn-secondary" onClick="fnjs_cancelar();" >
        {{ "Volver"|trans }}
      </button>
    </div>
</div>
</form>

<script>
fnjs_cancelar=function(){
    if (event != undefined) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
        // Asegurarme que es por click y no por return (posicion: 0,0)
        var x = event.x || event.clientX;
        var y = event.y || event.clientY;
        if (!x && !y) {
            return false;
        }
    }
	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
}
</script>
