<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">prot. local</th>
      <th scope="col">destino</th>
      <th scope="col">ref.</th>
      <th scope="col">asunto</th>
      <th scope="col">{{ "enviar" }}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in a_acciones %}
    <tr>
      <th scope="row">{{ row.link_ver|raw }}</th>
      <td>{{ row.prot_local|raw }}</td>
      <td>{{ row.protocolo|raw }}</td>
      <td>{{ row.ref|raw }}</td>
      <td>{{ row.asunto }}</td>
      <td>{{ row.enviar|raw }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
fnjs_ver_escrito=function(id_escrito) {
    var ssfsv = 'sv';
    var winPrefs="dependent=yes,width=950,height=700,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
    var server = '{{ server }}'
    var url = server+'/apps/expedientes/controller/escrito_ver.php?id_escrito='+id_escrito;
    w=window.open(url, "sele", winPrefs);
    w.focus();
}

fnjs_enviar_escrito=function(id_escrito) {
	//alert("enviar");
    var url;
    var url_ajax = 'apps/expedientes/controller/escrito_enviar.php';
    var param_json = { tipo_id: 'escrito', id: id_escrito };

    window.open('/apps/expedientes/controller/escrito_enviar.php?id='+id_escrito, "down");
}

</script>