<!-- Bootstrap core JavaScript-->
<script src="{{ base_url }}/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery CSS -->
<!-- CSS jQuery, bootstrap -->
<link type="text/css" rel='stylesheet' href='{{ base_url }}/node_modules/jquery-ui/themes/base/all.css' />
<link type="text/css" rel="stylesheet" href="{{ base_url }}/node_modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">

<div id="tot" class="container-fluid mt-3">
<div class="clearfix ">
  <div class="d-inline-flex float-left">
    <div class="p-2 text-dark font-weight-bold" >
      {{ sigla }}
    </div>
  </div>
  <div class="d-inline-flex float-right">
    <div class="p-2 text-dark font-weight-bold" >
      {{ oArrayProtDestino.ListaTxt|raw }}
      {{ oArrayProtRef.ListaTxt|raw }}
    </div>
  </div>
</div>

<form id="form_asunto">
<input type=hidden name='id_escrito' id='id_escrito' value="{{ id_escrito }}" >
<input type=hidden name='que' id='que' value=0>
  <!--  --------------- ANULAR --------------- -->
  <div class="d-flex mb-3">
    <div class="p-3"></div>
    <div class="p-2 custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitches" name="anular" {{  chk_anulado }}>
      <label class="custom-control-label" for="customSwitches">{{ "Anular este escrito"|trans }}</label>
    </div>
    <div class="ml-auto p-2 bd-highlight">
      <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="fnjs_guardar(event);" >{{ "Guardar"|trans }}</button>
    </div>
  </div>
  <!--  --------------- ASUNTO --------------- -->
  <div class="form-group row">
    <label for="asunto" class="col-1 col-form-label">{{ "Asunto"|trans }}</label>
    <div class="col-11">
      <input tabindex='30' type="text" class="form-control" name="asunto" id="asunto" value="{{ asunto }}">
    </div>
  </div>
  <!--  --------------- DETALLE --------------- -->
  <div class="form-group row">
    <label for="detalle" class="col-1 col-form-label">{{ "Detalle"|trans }}</label>
    <div class='col-11'>
      <input tabindex='50' type="text" class="form-control" name='detalle' id="detalle" value="{{ detalle }}">
    </div>
  </div>
</form>

<!--  --------------------  ESCRITO  --------------------------  -->
<div class="border border-secondary rounded p-3">
{{ escrito_html|raw }}
</div>
<!--  --------------------  FECHA  --------------------------  -->
<div id="fecha" style="margin-top: 1em; margin-right:  4em; text-align: right; " >
    <label>{{ f_escrito }}</label>
</div>
  

<!--  --------------------  ADJUNTOS  --------------------------  -->
{% if a_adjuntos %}
<hr>
<div class="form-group col-md-12">
    <label for="input-adjunto">{{ "Adjuntos"|trans }}:</label>
{% for item,nom in a_adjuntos %}
	<button type="button" class="btn btn-outline-secondary" onClick="fnjs_download({{ item }})">{{ nom }}</button>
{% endfor %}
</div>
{% endif %}
</div>
<hr>
<script>
fnjs_download=function(item) {
	url = "{{ url_download }}"+"&key="+item;
	window.open(url);
}

fnjs_guardar=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }
    
    $('#form_asunto').attr('action','{{ url_update }}');
    $('#que').val('guardar_asunto');
    $('#form_asunto').one("submit", function(event){
        event.preventDefault(); //prevent default action 	
        request=$.ajax({
            data: $(this).serialize(),
            url: $(this).attr('action'),
            type: 'post',
            dataType: 'json'
        });
        request.done( function (json) {
            debugger;
            if (json.success != true) {
            	alert (json.mensaje);
            } else {
                // antes actualizar el listado en la página original
                window.opener.fnjs_actualizar();
                // Cerrar la ventana
                window.close();
            }
        });
    });
    $('#form_asunto').submit();
}
</script>
