{%  if pagina_nueva %}
<button type="button" class="btn btn-info" onClick="fnjs_update_div('#main','{{ pagina_nueva|raw }}');">
	{{ "nuevo expediente"|trans }}
</button>
{% endif %}
<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
      {%  if a_expedientes[0].col_mod %}
        <th scope="col">#</th>
      {% endif %}
      {%  if a_expedientes[0].col_ver %}
        <th scope="col">{{ "##"|trans }}</th>
      {% endif %}
      <th scope="col">{{ "fecha inicio"|trans }}</th>
      <th scope="col">{{ "estado"|trans }}</th>
      <th scope="col">{{ "trámite"|trans }}</th>
      <th scope="col">{{ "visibilidad"|trans }}</th>
      <th scope="col">{{ "asunto"|trans }}</th>
      <th scope="col">{{ "oficinas"|trans }}</th>
      <th scope="col">{{ "fecha resolver"|trans }}</th>
      {% if presentacion == 3 or presentacion == 4 %}
          <th scope="col">{{ "fecha reunión"|trans }}</th>
      {% endif %}
      {% if presentacion == 2 or presentacion == 4 %}
          <th scope="col">{{ "fecha aprobación"|trans }}</th>
      {% endif %}
          <th scope="col">{{ "contenido"|trans }}</th>
      {% if presentacion != 1 %}
          <th scope="col">{{ "etiquetas"|trans }}</th>
      {% endif %}
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for row in a_expedientes %}
    <tr class="{{ row.class_row|raw }}">
      {%  if row.col_mod %}
        <th scope="row">{{ row.link_mod|raw }}</th>
      {% endif %}
      {%  if row.col_ver %}
        <td>{{ row.link_ver|raw }}</td>
      {% endif %}
      <td>{{ row.f_ini|raw }}</td>
      <td>{{ row.estado|raw }}</td>
      <td>{{ row.tramite|raw }}</td>
      <td>{{ row.visibilidad|raw }}</td>
      <td>{{ row.asunto|raw }}</td>
      <td>{{ row.oficinas|raw }}</td>
      <td>{{ row.f_contestar|raw }}</td>
      {% if presentacion == 3 or presentacion == 4 %}
          <td>{{ row.f_reunion|raw }}</td>
      {% endif %}
      {% if presentacion == 2 or presentacion == 4 %}
          <td>{{ row.f_aprobacion|raw }}</td>
      {% endif %}
          <td>{{ row.contenido|raw }}</td>
      {% if presentacion != 1 %}
          <td>{{ row.etiquetas|raw }}</td>
      {% endif %}
      <td>{{ row.link_accion|raw }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
	tabs_show('{{ vista }}','{{ filtro }}');
});
</script>