<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">
<!-- para hacer lineas más pequeñas en el file input -->
<link href="css/custom_file_input.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<!-- Modal-->
<input type=hidden id='modal_volver' value=0>
<div class="modal fade" id="ModalFirma" tabindex="-1" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-row justify-content-start">
                    <h5 class="modal-title" id="ModalTitle">{{ "Firma"|trans|raw }}</h5>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="me-auto p-6">
                        {{ "Comentario"|trans|raw }}
                    </div>
                    <div class="p-6">
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"
                                onClick="fnjs_voto('{{ aclaracion_event }}');">
                            {{ aclaracion }}
                        </button>
                    </div>
                </div>
                <div class="p-11">
                    <textarea tabindex='50' rows="5" class="form-control" name='comentario'
                              id="comentario">{{ comentario }}</textarea>
                </div>
            </div>
            {% if not bool_aclaracion %}
            <div class="modal-footer">
                <div class="d-flex flex-row ">
                    <div class="mr">
                        <label class="form-label">{{ "voto"|trans|raw }}: </label>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            {% for row in a_firmas %}
                                <input type="radio" class="btn-check" id="voto_{{ loop.index }}" name="voto_options"
                                       autocomplete="off" value="{{ row.id }}">
                                <label class="btn btn-outline-primary"
                                       for="voto_{{ loop.index }}"> {{ row.valor }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ "Cerrar"|trans|raw }}</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onClick="fnjs_voto('voto');">{{ "Guardar"|trans|raw }}</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<form id="form_expediente">
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='id_expediente' id='id_expediente' value={{ id_expediente }}>
    <input type=hidden name='filtro' id='filtro' value={{ filtro }}>
    <input type=hidden name='prioridad_sel' id='filtro' value={{ prioridad_sel }}>
    <input type=hidden name='ponente' id='ponente' value={{ id_ponente }}>

    <div class="clearfix">
        <div class="d-inline-flex float-start">
            <div class="p-2 bg-warning text-dark fw-bold">
                {{ ponente_txt }}
            </div>
            <div class="p-2 bg-info">
                {{ tramite_txt }}
            </div>
            <div class="p-2 bg-warning">
                {{ estado_txt }}
            </div>
            {% if visata_dl %}
                <!--  --------------- OFICINAS --------------- -->
                <div class="p-2 bg-white">
                    {{ "Oficinas"|trans|raw }}: {{ oArrayDesplFirmas.Lista|raw }}
                </div>
            {% else %}
                    <div class="p-2 bg-white">
                    <label for="Vida" class="form-label"> {{ "Vida"|trans|raw }} {{ vida_txt }}, {{ "pasar a"|trans|raw }}</label>
                    {{ oDesplVida.desplegable|raw }}
                    </div>
            {% endif %}

        </div>
        <div class="d-inline-flex float-end">
            <div class="p-2 bg-warning">
                {{ "Prioridad"|trans|raw }}: {{ prioridad_txt }}
            </div>
        </div>
    </div>
    <!-- Fechas -->
    <div class="clearfix">
        <div class="d-inline-flex float-start">
            <div class="p-2">
                {{ "Inicio"|trans|raw }}: {{ f_ini_circulacion }}
            </div>
            {% if visata_dl %}
                <div class="p-2">
                    {{ "reunión"|trans|raw }}: {{ f_reunion }}
                </div>
                <div class="p-2">
                    {{ "aprobación"|trans|raw }}: {{ f_aprobacion }}
                </div>
            {% endif %}
        </div>
        <div class="d-inline-flex float-end">
            <div class="p-2 bg-warning">
                {{ "resolver"|trans|raw }}: {{ f_contestar }}
            </div>
        </div>
    </div>

    <!--  --------------- ASUNTO --------------- -->
    <div class="row">
        <div class="col-1">
            {{ "Asunto"|trans|raw }}:
        </div>
        <div class="col-11 alert alert-primary">
            {{ asunto }}
        </div>
    </div>

    <div class="row">
        <!--  Col Izda -->
        <div class="col-9">
            <!--  --------------- ENTRADILLA --------------- -->
            <div class="col-0">
                {{ "Entradilla"|trans|raw }}:
            </div>
            <div class="col-0">
                <textarea rows="5" class="form-control" readonly>{{ entradilla }}</textarea>
            </div>
            <!--  --------------- COMENTARIOS --------------- -->
            <br>
            <div class="col-0 alert bg-light">
                {{ comentarios|raw }}
            </div>

            <!--  --------------- ACCIONES --------------- -->
            {{ oEscritoLista.mostrarTabla()|raw }}
        </div>
        <!-- Fin Col Izda -->
        <!--  Col Dcha -->
        <div class="col-3">
            <!--  --------------------  ANTECEDENTES  --------------------------  -->
            {# lista de antecedentes #}
            <div class="mb-3 col-md-12">
                <label class="form-label">{{ "Antecedentes"|trans|raw }}:</label>
                <div id="lista_antecedentes">
                    {{ lista_antecedentes|raw }}
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                {% if add_del == 'add' %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalFirma">
                        {{ firma_txt }}
                    </button>
                {% endif %}
                {% if add_del_txt %}
                    <button type="button" class="btn btn-outline-secondary"
                            onClick="fnjs_ver_cargos('{{ add_del }}');">{{ add_del_txt }}</button>
                {% endif %}
            </div>
            <div id="of" class="d-flex row round m-3 border rounded">
            </div>

            <!--  --------------------  RECORRIDO  --------------------------  -->
            <div class="mb-3 col-md-12">
                <label class="form-label">{{ "Recorrido"|trans|raw }}:</label>
                <ol id="lst_recorrido" class="list-group">
                    {% for row in a_recorrido %}
                        <li class="list-group-item {{ row.class }}">{{ row.valor }}</li>
                    {% endfor %}
                </ol>
            </div>
            {% if cmb_tramite %}
                <button tabindex='290' class="btn btn-secondary" onClick="fnjs_cambio_tramite();">
                    {{ "Cambiar trámite"|trans|raw }}
                </button>
            {% endif %}

            <!-- Fin Col Dcha -->
        </div>
        <!-- Fin row -->
    </div>

    <!--  --------------------  Etiquetas --------------------------  -->
    {% if ver_etiquetas %}
        <div class="col-12 bg-white">
            {{ "Etiquetas"|trans|raw }}: {{ oArrayDesplEtiquetas.Lista|raw }}
        </div>
    {% endif %}
    <!--  --------------------  BOTONES --------------------------  -->
    <div class="row col-2">
        <button id='btn_volver' class="btn btn-secondary" onClick="fnjs_cancelar();">
            {{ "Volver"|trans|raw }}
        </button>
    </div>
</form>

{{ include ('_antecedentes_js.html.twig') }}
<script type="text/javascript">
    fnjs_cambio_vida = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }

        alert("Hola Vida");

        $('#que').val('cambio_vida');
        datos = $('#form_expediente').serialize();
        request = $.ajax({
            data: datos,
            url: '{{ url_update }}',
            method: 'POST',
            dataType: 'json'
        });
        request.done(function (json) {
            if (json.success != true) {
                alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
            } else {
                // Volver a la lista...
                fnjs_update_div('#main', '{{ pagina_cancel|raw }}');
            }
        });
    }

    fnjs_cambio_tramite = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }

        fnjs_update_div('#main', '{{ pagina_cambio|raw }}');
    }

    fnjs_ver_cargos = function (add_del) {
        if (add_del == 'add') {
            // consultar que oficinas no estan en el recorrido
            que = 'lst_cargos_libres';
        }
        if (add_del == 'del') {
            // consultar que oficinas no estan en el recorrido
            que = 'lst_falta_firma';
        }
        var id_expediente = $('#id_expediente').val();
        var url_ajax = 'apps/tramites/controller/firma_ajax.php';
        var param_json = {que: que, id_expediente: id_expediente};
        request = $.ajax({
            data: param_json,
            url: url_ajax,
            method: 'POST'
        });
        request.done(function (json) {
            if (json.success != true) {
                alert(json.mensaje);
            } else {
                // You can create an Array from this like so:
                var theArray = JSON.parse(json.cargos);
                html = '';
                html += '<div>';
                $.each(theArray, function (id, obj) {
                    html += '<div class="form-check custom-checkbox form-check-inline">';
                    html += '<input type="checkbox" class="form-check-input" id="' + obj.id + '" >';
                    html += '<label class="form-check-label" for="' + obj.id + '">' + obj.sigla + '</label>';
                    html += '</div>';
                });
                html += '</div>';
                if (json.cargos_repetir != undefined) {
                    var theArray2 = JSON.parse(json.cargos_repetir);
                    html += '<div style="background-color: honeydew;">';
                    $.each(theArray2, function (id, obj) {
                        html += '<div class="form-check custom-checkbox form-check-inline">';
                        html += '<input type="checkbox" class="form-check-input" id="' + obj.id + '" >';
                        html += '<label class="form-check-label" for="' + obj.id + '">' + obj.sigla + '</label>';
                        html += '</div>';
                    });
                    html += '</div>';
                }
                html += '<button class="ms-auto btn btn-secondary btn-sm" onClick="fnjs_add_cargos(\'' + add_del + '\');" >';
                html += '{{ "ok"|trans|raw }}';
                html += '</button>';
                $("#of").html(html);
            }
        });

    }

    fnjs_add_cargos = function (add_del) {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }
        var selected = [];
        $('#of input:checked').each(function () {
            selected.push($(this).attr('id'));
        });
        if (selected) {
            var id_expediente = $('#id_expediente').val();
            var url_ajax = 'apps/tramites/controller/firma_ajax.php';
            var param_json = {que: add_del, id_expediente: id_expediente, a_cargos: selected};
            request = $.ajax({
                data: param_json,
                url: url_ajax,
                method: 'POST'
            });
            request.done(function (json) {
                if (json.success != true) {
                    alert(json.mensaje);
                } else {
                    //cambiar recorrido.
                    fnjs_recorrido();
                    $("#of").html("");
                }
            });
        }

    }

    fnjs_recorrido = function () {
        var id_expediente = $('#id_expediente').val();
        var url_ajax = 'apps/tramites/controller/firma_ajax.php';
        var param_json = {que: 'recorrido', id_expediente: id_expediente};
        request = $.ajax({
            data: param_json,
            url: url_ajax,
            method: 'POST'
        });
        request.done(function (json) {
            if (json.success != true) {
                alert(json.mensaje);
            } else {
                var a_recorrido = JSON.parse(json.recorrido);
                html = '';
                for (row of a_recorrido) {
                    html += '<li class="list-group-item ' + row.class + ' }}">' + row.valor + '</li>';
                }
                $("#lst_recorrido").html(html);
            }
        });
    }

    fnjs_voto = function (que) {
        var err = 0;
        var comentario = $('#comentario').val();
        var id_expediente = $('#id_expediente').val();
        var url_ajax = 'apps/tramites/controller/firma_ajax.php';

        if (que == 'voto') {
            if (!comentario) {
                comentario = '';
            }
            var voto = $("input[name='voto_options']:checked").val();
            if (!voto) {
                alert("{{ "Debe seleccionar un voto"|trans|raw }}");
                err = 1;
            }
        }
        if (que == 'nueva' || que == 'respuesta') {
            var voto = '';
            if (!comentario) {
                alert("{{ "Debe llenar el campo de comentario"|trans|raw }}");
                err = 1;
            }
        }
        if (err != 1) {
            var param_json = {que: que, id_expediente: id_expediente, comentario: comentario, voto: voto};
            request = $.ajax({
                data: param_json,
                url: url_ajax,
                method: 'POST'
            });
            request.done(function (json) {
                if (json.success != true) {
                    alert(json.mensaje);
                } else {
                    $('#modal_volver').val(1);
                }
            });
        }
    }

    /**
     * Si se pone dentro de la función fnjs_voto, no acaba de cerrar bien el modal:
     * no quita la sombra. Hay que hacerlo así para que primero acabe con el modal,
     * y luego vuelva a la pagina que queremos.
     */
    $('#ModalFirma').on('hidden.bs.modal', function () {
        var volver = $('#modal_volver').val();
        if (volver == 1) {
            fnjs_update_div('#main', '{{ pagina_cancel|raw }}');
        }
    });

    fnjs_cancelar = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            // Asegurarme que es por click y no por return (posicion: 0,0)
            var x = event.x || event.clientX;
            var y = event.y || event.clientY;
            if (!x && !y) {
                return false;
            }
        }
        fnjs_update_div('#main', '{{ pagina_cancel|raw }}');
    }

    /* ya está en _antecedentes_js.html.twig
    fnjs_ver_escrito=function(id_escrito) {
        var ssfsv = 'sv';
        var winPrefs="dependent=yes,width=950,height=700,screenX=200,screenY=200,titlebar=yes,scrollbars=yes";
        var base_url = '{{ base_url }}'
    var url = base_url+'/apps/escritos/controller/escrito_ver.php?id_escrito='+id_escrito;
    w=window.open(url, "", winPrefs);
    w.focus();
}
*/

    $(document).ready(function () {
        tabs_hide();
    });
</script>