<h1>{{ titulo }}</h1>
<form id ="form_reunion" >
    <input type=hidden name='que' id='que' value=0>
    <input type=hidden name='id_expediente' id='id_expediente' value={{ id_expediente }} >
    
    
  <div class="form-group row">
  	<label for="f_reunion" class="col col-2 col-form-label text-right">{{ "día de reunión"|trans }}:</label>
    <div class='col-2 date datepicker' data-provide="datepicker">
      <input name='f_reunion' id='f_reunion' type='text' class="form-control" value="{{ f_reunion }}" />
    </div>
  </div>
  
  <div>
    <button type="button" class="btn btn-secondary" onClick="fnjs_cancelar(event);" >
      {{ "Cancelar"|trans }}
    </button>
    <button type="button" class="btn btn-primary" onClick="fnjs_reunion(event);" >
      {{ "Fijar día"|trans }}
    </button>
  </div>
</form>

<div id="resultados"></div>
<script>
fnjs_cancelar=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }
    event.preventDefault(); //prevent default action 	
	fnjs_update_div('#main','{{ pagina_cancel|raw }}');
}

fnjs_reunion=function(event){
	// Asegurarme que es por click y no por return (posicion: 0,0)
	var x = event.x || event.clientX;
    var y = event.y || event.clientY;
    if (!x && !y) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
    	return false;
    }

	$('#form_reunion').attr('action','{{ pagina_reunion }}');
    $('#que').val('reunion');
    $('#form_reunion').one("submit", function(event){
        event.preventDefault(); //prevent default action 	
        request=$.ajax({
            data: $(this).serialize(),
            url: $(this).attr('action'),
            type: 'post'
            //dataType: 'json'
        });
        request.done( function (rta) {
            //debugger;
            fnjs_update_div('#main','{{ pagina_cancel|raw }}');
        });
    });
    $('#form_reunion').submit();
}

$(function() {
	$( "#f_reunion" ).datetimepicker( {
		timepicker: true,
		datepicker: true,
		format: 'Y-m-d H:i',
		hours12: false,
		step: 15,
		yearStart: {{ yearStart }},
		yearEnd: {{ yearEnd }},
		onShow: function(ct) {
			this.setOptions({
				minDate: '{{ hoyIso }}'
			})
		}
    });

});
</script>