<div id="busqueda">
  <!--  --------------- BUSQUEDAS --------------- -->
  <form id=condiciones>
	<input type="hidden" name="que" value='buscar_documento' />
	<input type="hidden" name="id_doc" value='{{ id_doc }}' />
	<input type="hidden" name="tipo_n" value='{{ tipo_n }}' />
	<input type="hidden" name="id_expediente" value='{{ id_expediente }}' />
	<input type="hidden" name="id_escrito" value='{{ id_escrito }}' />
  <!--  --------------- ASUNTO --------------- -->
  <div class="mb-3 row">
    <label for="nom" class="col-1 form-label">{{ "Nombre"|trans }}</label>
    <div class="col-10">
      <input tabindex='30' type="text" class="form-control" name="nom" id="nom_buscar" value="{{ nom }}">
    </div>
  </div>
  <!--  --------------------  Periodo --------------------------  -->
  <div id="div_periodo" class="mb-3 row">
    <label for="periodo" class="col-1 form-label">{{ "periodo"|trans }}:</label>
    <div class="col-6">
		<select tabindex=111 id=periodo name=periodo >
		<option value="mes" {{ sel_mes }}>{{ "hace un mes"|trans }}</option>
		<option value="mes_6" {{ sel_mes_6 }}>{{ "hace 6 meses"|trans }}</option>
		<option value="any_1" {{ sel_any_1 }} >{{ "hace 1 año"|trans }}</option>
		<option value="any_2" {{ sel_any_2 }} >{{ "hace 2 año"|trans }}</option>
		<option value="siempre" {{ sel_siempre }} >{{ "siempre"|trans }}</option>
		</select>
	</div>
  </div>
  <!--  --------------- Etiquetas --------------- -->
  <div id="div_etiquetas" class="row align-items-center bg-light">
    <label for="etiquetas" class="col-1 form-label">{{ "Etiquetas"|trans }}:</label>
    <div class="col-2">
        <div class="col-6">
          <input type="radio" class="form-check-input" name="andOr" value="OR" {{ chk_or }} >
          <label class="form-check-label">
          {{ "alguna"|trans }}
          </label>
        </div>
        <div class="col-6">
          <input type="radio" class="form-check-input" name="andOr" value="AND" {{ chk_and }} >
          <label class="form-check-label">
          {{ "todas"|trans }}
          </label>
        </div>
	</div>
    <div class="col-7">
      <span id="span_etiquetas">
      	{{ oArrayDesplEtiquetas.ListaSelects|raw }}
      </span>
    </div>
      <!--  --------------- BOTON --------------- -->
      <div class="col-1">
        <button type="button" class="btn btn-primary" onClick="fnjs_listar_documentos();" >{{ "Buscar"|trans }}</button>
      </div>
      {%  if id_expediente %}
      {# doy la opción de crear uno nuevo desde aquí, si es como anteceedente para un expediente #}
          <div class="col-1">
            <button type="button" class="btn btn-secondary" onClick="fnjs_new_documento('{{ id_expediente }}');" >{{ "Nuevo"|trans }}</button>
          </div>
      {% endif %}
  </div>
  </form>
</div>
<hr>
<div id="lista">
	{{ oLista.mostrar_tabla|raw }}
</div>
<div id="slow_load" style="display: flex; justify-content: center; align-items: center; text-align: center;">
 <img class="mb-4" src="../images/loading.gif" alt="cargando" width="32" height="32">
</div>
<script>
$(document).ready(function() {
	$('#slow_load').hide();  // hide it initially
});

fnjs_new_documento=function(id_expediente) {
    var data=$('#condiciones').serialize();
    var url_ajax = 'apps/documentos/controller/documento_form.php';

    request=$.ajax({
        data: data,
        url: url_ajax,
        method: 'POST'
    });
    request.done( function (rta) {
        if (rta==undefined) {
            rta='';
        }
        $('#modal-body').html(rta);
    });
}

fnjs_listar_documentos=function() {
    var data=$('#condiciones').serialize();
    var id_escrito = $('#id_escrito').val();
    if (id_escrito) {
        var url_ajax = 'apps/expedientes/controller/escrito_adjuntos_ajax.php';
    } else {
        var url_ajax = 'apps/expedientes/controller/antecedentes_ajax.php';
    }
    request=$.ajax({
        data: data,
        url: url_ajax,
        method: 'POST'
    });
    request.done( function (rta) {
        if (rta==undefined) {
            rta='';
        }
        $('#modal-body').html(rta);
    });
}

{{ oArrayDesplEtiquetas.ComprobarSelectJs|raw }}
fnjs_mas_etiquetas=function(){
	var code = (event.keyCode ? event.keyCode : event.which);
    var valor=1;
    var id_campo='#'+event.currentTarget.id;
    var valor=$(id_campo).val();
    if(code!=9) {
        event.preventDefault();
        event.stopPropagation();
    }
	if ( code==9 || event.type=="change") {
		if (valor!=0) {
			{{ oArrayDesplEtiquetas.ListaSelectsJs|raw }}
		}
	}
}

fnjs_quitar_etiquetas=function(){
	$('#span_etiquetas').html("");
	$('#etiquetas_num').val(0);
}
</script>