<script>
fnjs_guardar=function(formulario){

	rr = 'ok';
	//alert ("EEE "+rr);
	if (rr=='ok') {
		$(formulario).attr('action',"apps/lugares/controller/lugar_update.php");
		$(formulario).one("submit", function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: $(this).serialize()
			})
			.done(function (rta_txt) {
				if (rta_txt != '' && rta_txt != '\\n') {
					alert ('{{ "respuesta"|trans }}: '+rta_txt);
				} else {
					{{ oPosicion.js_atras(1)|raw }}
				}
			});
			return false;
		});
		$(formulario).trigger("submit");
		$(formulario).off();
	}
}
</script>
<div class="card" style="width: 35rem;">
  <div class="card-header">
    <h5 class="card-title">{{ "Datos del Lugar"|trans }}</h5>
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-12">
      <form class="user" id="frm_lugar"  name="frm_lugar" action="" method="post">
      {{ oHash.getCamposHtml|raw }}
        <div class="form-group">
          <label for="example">{{ "Sigla"|trans }}</label>
          <input type="text" class="form-control col-6" id="sigla" name="sigla" placeholder="sigla" value="{{ sigla }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "Nombre"|trans }}</label>
          <input type="text" class="form-control" id="nom_usuario" name="nombre" placeholder="Nombre" value="{{ nombre }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "dl"|trans }}</label>
          <input type="text" class="form-control" id="dl" name="dl" placeholder="dl" value="{{ dl }}">
          <label for="example">{{ "region"|trans }}</label>
          <input type="text" class="form-control" id="region" name="region" placeholder="region" value="{{ region }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "tipo de centro"|trans }}</label>
          <input type="text" class="form-control" id="tipo_ctr" name="tipo_ctr" placeholder="tipo_ctr" value="{{ tipo_ctr }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "e-mail"|trans }}</label>
          <input type="text" class="form-control" id="e_mail" name="e_mail" placeholder="e-mail" value="{{ e_mail }}">
        </div>
        <div class="form-group">
          <label for="example">{{ "modo envío"|trans }}</label>
          {{ oDesplModoEnvio.desplegable|raw }}
        </div>
        <div class="ml-3 btn form-check">
          <input type="checkbox" class="form-check-input" id="anulado" name="anulado" {{ chk_anulado }}>
          <label class="form-check-label" for="anulado">{{ "anulado"|trans }}</label>
        </div>
        
        <div class="form-group">
          <button onclick="fnjs_guardar(this.form);" type="button" class="btn btn-primary btn-block">{{ "Guardar"|trans }}</button>
        </div>
      </form>
  </div>
</div>
</div>
</div>