<div id="condiciones" class="col-9">
    <!-- Un escrito concreto --------------------------------------------- -->
    <form id="frm_buscar_7" name="frm_buscar_7" action="">
        <input type="hidden" name="accion" value="{{ accion }}">
        <input type="hidden" name="mas" value="">
        <table class="table table-warning p-2">
            <tr class="table-danger">
                <th colspan=5 class=titulo_inv>{{ "Buscar un escrito concreto"|trans|raw }}
                    <input id="protocolo" name="protocolo" size="30" class=contenido
                           onchange="fnjs_protocolo('#id_lugar','#prot_num','#prot_any','#b_buscar_7')" value=""
                           title="{{ "puede pegar el protocolo completo (ej: cr 1/15) y presionar el tabulador"|trans|raw }}">
                </th>
            </tr>
            <tr>
                <td class=etiqueta>{{ "¿Qué protocolo tiene?"|trans|raw }}:
                    {{ oDesplLugar.desplegable|raw }}
                <td>
                    <input id="prot_num" name="prot_num" size="12" class=contenido
                           title="{{ "protocolo origen"|trans|raw }}"
                           onchange="fnjs_proto('#prot_num','#prot_any','#b_buscar_7')" value="{{ prot_num }}">
                    /
                    <input id="prot_any" name="prot_any" size="5" class=contenido
                           title="{{ "año protocolo origen"|trans|raw }}" value="{{ prot_any }}">
                </td>
            </tr>
            <tr>
                <td colspan=5 style="text-align:right;">
                    <button class="btn btn-success" id="b_buscar_7" name="b_buscar" TYPE="button"
                            onclick="fnjs_buscar('#frm_buscar_7')">{{ "buscar"|trans|raw }}</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="resultados" class="container-fluid p-3 my-3 border bg-light">
</div>

<script>
    /* intentar explotar el protocolo en lugar, num y año */
    fnjs_protocolo = function (nom_lugar, num, any, siguiente) {
        var protocolo = $('#protocolo').val();
        var expresion_regular = new RegExp('\\s*((\\w*\\s*)*)\\s+([0-9]+)\/([0-9]+)', 'g');
        var resultado = expresion_regular.exec(protocolo);

        if (resultado) {
            if (resultado[1]) {
                //str_select = nom_lugar+" option:contains("+resultado[1]+")";
                $(nom_lugar + " option").filter(function () {
                    return $(this).text() === resultado[1];
                }).attr('selected', 'selected');
            }

            if (resultado[3]) {
                $(num).val(resultado[3]);
                $(any).val(resultado[4]);
                $(siguiente).focus();
            }
        }
    }

    fnjs_proto = function (num, any, siguiente) {
        var numero;
        var prot_num = $(num).val();
        numero = prot_num.split("/");
        if (numero[1]) {
            $(num).val(numero[0]);
            $(any).val(numero[1]);
            $(siguiente).focus();
        }
    }

    fnjs_buscar = function (formulario) {
        var form_name = $(formulario).attr('name');
        var num = $('#prot_num').val();
        if (num === '0' || num === 0 || num === '') {
            if (!confirm("{{ "¿Seguro que quiere ver todos?"|trans|raw }}")) {
                return;
            }
        }
        // borro los posibles resultados anteriores
        $('#resultados').html("");
        //$(formulario+' input[name="opcion"]').val(opcion);
        $(formulario).attr('action', 'apps/oasis_as4/controller/ver_tabla.php');
        fnjs_enviar_formulario(formulario, '#resultados');
    }


    $(document).ready(function () {
        tabs_show('{{ vista }}', '{{ filtro }}');
    });
</script>
