<!-- load the CSS files in the right order -->
<link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">
<!-- para hacer lineas más pequeñas en el file input -->
<link href="css/custom_file_input.css" rel="stylesheet" type="text/css">

<!-- load the JS files in the right order -->
<script type='text/javascript' src='node_modules/bootstrap-fileinput/js/fileinput.min.js'></script>
<script type='text/javascript' src='node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.js'></script>

<!-- Para reducir la ventana file-input: sólo se puede subir un archivo -->
<style>
.file-drop-zone {
    min-height: 100px !important;
}
</style>


<h1>{{ "cargar arxivos pdm xml" }}:</h1>


<label class="col-6 form-label">{{ "Insertar xml resp"|trans }}:</label>
<div class="col-8" > <!-- COL DCHA --> 
<div class="mb-3" id=upload>
    <div class="file-loading">
        <input id="pdm_xml" name="pdm_xml[]" type="file" multiple>
    </div>
</div>
</div> <!-- FIN COL IZQ --> 
</div>
<script type="text/javascript">
$(document).ready(function() {
	var el1 = $("#pdm_xml");
    el1.fileinput({
    	theme: "explorer-fas",
        uploadUrl: "apps/oasis_as4/controller/pdm_upload.php",
        dropZoneEnabled: true,
        dropZoneTitle: "{{ "Arrastrar ficheros aquí"|trans }}",
        browseOnZoneClick: true,
        dropZoneClickTitle: "{{ "(o hacer click para seleccionar ficheros)"|trans }}",
        maxFileCount: 1,
        validateInitialCount: true,
        showUpload: false, // upload button
        showBrowse: true,
        showRemove: false,
        showClose: false,
        allowedPreviewTypes: false,
        hideThumbnailContent: true,
        // this is where the magic happens
        uploadAsync: false,
        removeFromPreviewOnError: true,
        overwriteInitial: false,
        fileActionSettings: {showZoom: false, showDrag: false},
        maxFileSize: {{ post_max_size }},
    });
	el1.on("filebatchselected", function(files) {
        el1.fileinput("upload");
    });
});
</script>