<!-- Bootstrap core JavaScript-->
<script src="{{ base_url }}/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery CSS -->
<!-- CSS jQuery, bootstrap -->
<link type="text/css" rel='stylesheet' href='{{ base_url }}/node_modules/jquery-ui/themes/base/all.css'/>
<link type="text/css" rel="stylesheet" href="{{ base_url }}/node_modules/bootstrap/dist/css/bootstrap.min.css"
      crossorigin="anonymous">
<!-- DataTables -->
<link type="text/css" rel="stylesheet"
      href='{{ base_url_web }}/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css'/>
<script type="text/javascript"
        src='{{ base_url_web }}/node_modules/datatables.net/js/jquery.dataTables.min.js'></script>
<script type="text/javascript"
        src='{{ base_url_web }}/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js'></script>

<div class="m-3"> {# para margenes #}

    <h2>{{ "Lista de pendientes relacionados"|trans|raw }}</h2>
    <hr>
    <div id="exportar" calss="">
        <form id='seleccionados' name='seleccionados' action='' method='post'>
            <input type='Hidden' id='id_escrito' name='id_escrito' value='{{ id_escrito }}'>
            <input type='Hidden' name='calendario' value='registro'>
            <input type='Hidden' name='go' value='enviar'>
            <input type='Hidden' id='nuevo' name='nuevo' value=''>
            {{ oTabla.mostrar_tabla|raw }}
        </form>
        <br>
        <!--  --------------------  BOTONES --------------------------  -->
        <div>
            <button tabindex='91' class="btn btn-secondary" onClick="window.close();">
                {{ "Cerrar"|trans|raw }}
            </button>
            <button tabindex='90' class="btn btn-success" onClick="fnjs_marcar_i_enviar('#seleccionados');">
                {{ "Marcar como contestado y enviar"|trans|raw }}
            </button>
        </div>

    </div>

    <div>
        <form id='actualizar' name='actualizar' action='/src/escritos/controller/escrito_update.php' method='post'>
            <input type='Hidden' id='id_escrito' name='id_escrito' value='{{ id_escrito }}'>
            <input type='Hidden' name='que' value='lista_pendientes'>
            <input type='Hidden' name='pendientes_uid' value='{{ pendientes_uid|raw }}'>
            <input type='Hidden' id='id_contestados' name='id_contestados' value=''>
        </form>
    </div>

    <script type="text/javascript">

        fnjs_actualizar = function () {
            $('#actualizar').submit();
        }

        fnjs_marcar_i_enviar = function (formulario) {
            var id_escrito = $('#id_escrito').val();
            var id_contestados = '';
            var id = '';
            var p = 0; // para los periodicos
            /* selecciono los elementos con class="sel" de las tablas del id=formulario */
            $(formulario + ' input.sel').each(function (i) {
                if ($(this).prop('checked') == true) {
                    if ($(this).attr('id') == "ax") r = 1;
                    id = $(this).attr('id');
                    a = $(this).attr('id').split("#");
                    nom = a[0].substring(1); // quitar la 'a' inicial
                    id_contestados += nom + '#' + a[1];
                    id_contestados += ',';
                }
            });

            $('#nuevo').val(4);
            var url = '/src/pendientes/controller/pendiente_update_ics.php';
            var datos = $(formulario).serialize(),
                request = $.ajax({
                    url: url,
                    data: datos,
                    method: 'POST',
                    dataType: 'text'
                });
            request.done(function (jsonStr) {
                try {
                    const json = JSON.parse(jsonStr);
                    if (json.success != true) {
                        alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
                    } else {
                        $('#id_contestados').val(id_contestados);
                        window.opener.fnjs_enviar_escrito_directo(id_escrito);
                        window.close();
                    }
                } catch (e) {
                    alert(jsonStr);
                }
            });
            request.fail(function (JqXHR, textStatus, errorThrown) {
                txt = '{{ "probablemente no tenga permiso en el calendario"|trans|raw }}' + '\n';
                alert(txt + 'An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');
                console.error("Hi ha un error: " + textStatus, errorThrown);
            });
        }
    </script>
</div>