<!-- Bootstrap core JavaScript-->
<script src="{{ base_url }}/node_modules/jquery/dist/jquery.min.js"></script>
<!-- jQuery CSS -->
<link type="text/css" rel='stylesheet' href='{{ base_url }}/node_modules/jquery-ui/themes/base/all.css'/>
<link type="text/css" rel="stylesheet" href="{{ base_url }}/node_modules/bootstrap/dist/css/bootstrap.min.css"
      crossorigin="anonymous">
<link href="{{ base_url }}/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<div id="tot" class="container-fluid mt-3">

    <!--  --------------------  ESCRITO  --------------------------  -->
    <div class="border border-secondary rounded p-3">
        {{ escrito_html|raw }}
    </div>
</div>
