<div class="mb-3 row">
<input type='hidden' id='periodico_tipo' name='periodico_tipo' value='{{ periodico_tipo }}'>
  <div class="col-1">
	<h2>{{ "Repetición"|trans }}</h2>
  </div>
  <div class="col-1"></div>
<button id="btn_d_a" tabindex='' class="btn btn-outline-secondary" onClick="fnjs_ver_tab('#periodico_d_a')">
    {{ "anual"|trans }}
</button>
<button id="btn_d_m" tabindex='' class="btn btn-outline-secondary" onClick="fnjs_ver_tab('#periodico_d_m')">
    {{ "mensual"| trans }}
</button>
<button id="btn_d_s" tabindex='' class="btn btn-outline-secondary" onClick="fnjs_ver_tab('#periodico_d_s')">
    {{ "semanal"|trans }}
</button>
<button id="btn_d_d" tabindex='' class="btn btn-outline-secondary" onClick="fnjs_ver_tab('#periodico_d_d')">
    {{ "diaria"|trans }}
</button>
</div>
<div class="mb-3 row">
	<label class="col-1 form-label">{{ "desde"|trans }}</label>
		<input tabindex="100" id="f_inicio" name="f_inicio" size="12" value="{{ f_inicio }}" class="fecha" onchange="fnjs_cambiar_estado()">
	<label class="col-1 form-label">{{ "hasta"|trans }}</label>
		<input tabindex="10" id="f_until" name="f_until" size="12" value="{{ f_until }}" class="fecha" onchange="fnjs_cambiar_estado()">
</div>

<!-- *********************************** Peridico dia del año *************************************** -->
<div id="periodico_d_a" style="{{ display_d_a }}">
<div class="mb-3 row">
  <div class="col-5"><input type="radio" id="id_a_radio_1" name="tipo_dia" value="num_ini" {{ chk_a_num_ini }}>
    {{ "anualmente"|trans }}
  </div>
</div>
<div class="mb-3 row">
  <div class="col"><input type="radio" id="id_a_radio_2" name="tipo_dia" value="num" {{ chk_a_num }}>
	{{ "El/los día/s (separados por comas)"|trans }}
	<input type="text" size="6" name="a_dia_num" value="{{ dia_num_db }}" onclick="fnjs_marcar('#id_a_radio_2');">
	{{ "de cada"|trans }}
	{{ oDesplMesesAnual.desplegable|raw }}
  </div>
</div>


<div class="mb-3 row">
  <div class="col">
	<input type="radio" id="id_a_radio_3" name="tipo_dia" value="ref" {{ chk_a_ref }}>
	{{ "El"|trans }}
	{{ oDesplOrdinalesAnual.desplegable|raw }}
	{{ oDesplDiasSemanaAnual.desplegable|raw }}
	{{ "de cada"|trans }}
	{{ oDesplMesesRef.desplegable|raw }}
  </div>
</div>

<div class="mb-3 row">
  <div class="col">
	<input type="radio" id="id_a_radio_4" name="tipo_dia" value="num_dm" {{ chk_a_num_dm }}>
    {{ "por dias de meses, cada"|trans }}:
	<input type="text" size="1" name="a_interval" value="{{ a_interval_db }}" onclick="fnjs_marcar('#id_a_radio_4');">
	{{ "años"|trans }}
	</div>
</div>

<div class="mb-3 row">
  <div class="col-1"></div>
  <label class="col-1 form-label">{{ "que días"|trans }}</label>
  <div class="col-4">
	{{ oDesplDias.checkbox|raw }}
  </div>
  <label class="col-1 form-label">{{ "de que meses"|trans }}</label>
  <div class="col-4">
	{{ oDesplMeses2.checkbox|raw }}
  </div>
  <div class="col-1"></div>
</div>
  
</div>
<!-- *********************************** Periodico dia del mes *************************************** -->
<div id="periodico_d_m" style="{{ display_d_m }}">
    <div class="mb-3 row">
      <div class="col-5"><input type="radio" id="id_radio_1" name="tipo_dia" value="num_ini" {{ chk_m_num_ini }}>
        {{ "mensualmente"|trans }}
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col"><input type="radio" id="id_radio_2" name="tipo_dia" value="num" {{ chk_m_num }}>
        {{ "El/los día/s (separados por comas)"|trans }}
        <input type="text" size="6" name="dia_num" value="{{ dia_num_db }}" onclick="fnjs_marcar('#id_a_radio_2');">
        {{ "de cada mes"|trans }}
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <input type="radio" id="id_radio_3" name="tipo_dia" value="ref" {{ chk_m_ref }}>
        {{ "El"|trans }}
        {{ oDesplOrdinalesMes.desplegable|raw }}
        {{ oDesplDiasSemanaMes.desplegable|raw }}
        {{ "de cada mes"|trans }}
      </div>
    </div>
</div>
<!-- *********************************** Periodico dia de la semana *************************************** -->
<div id="periodico_d_s" style="{{ display_d_s }}">
    <div class="mb-3 row">
      <div class="col-5"><input type="radio" id="id_s_radio_1" name="tipo_dia" value="num_ini" {{ chk_s_num_ini }}>
        {{ "semanalmente"|trans }}
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-2">
      	<input type="radio" id="id_s_radio_2" name="tipo_dia" value="ref" {{ chk_s_ref }}>
        {{ "periodicidad día de la semana"|trans }}
      </div>
      <div class="col-4">
        {{ oDesplDiasSemana.checkbox|raw }}
      </div>
      <div class="col-6"></div>
	</div>
</div>
<!-- *********************************** Periodico diario *************************************** -->
<div id="periodico_d_d" style="{{ display_d_d }}">
    <div class="mb-3 row">
      <div class="col-5"><input type="radio" id="id_d_radio_1" name="tipo_dia" value="num_ini" {{ chk_d_num_ini }}>
        {{ "diariamente"|trans }}
      </div>
    </div>
</div>
</div>

<!-- *********************************** Excepciones *************************************** -->
{%  if a_exdates_local %}
<div class="mb-3 row">
  <label class="col-5 form-label">{{ "Son los marcados como contestados o eliminados"|trans }}</label>
</div>
<div class="mb-3 row">
  <div class="col-12">
    {% for fecha in a_exdates_local %}
		<input type='text' size=10 tabindex=290 name='exdates[]' VALUE="{{ fecha }}" ">
	{% endfor %}
    <input type='text' size=10 tabindex=390 name='exdates[]' VALUE="{{ fecha }}" ">
  </div>
</div>
{% endif %}

{{ include ('_pendiente_form_periodico_js.html.twig') }}
