<div class="card" style="width: 35rem;">
    <div class="card-header">
        <h5 class="card-title">{{ "Datos de Usuario"|trans|raw }}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form class="user" id="frm_usuario" name="frm_usuario" action="" method="post">
                    {{ oHash.getCamposHtml|raw }}
                    <input type="hidden" name="pass" value="{{ pass }}">
                    <div class="mb-3">
                        <label for="example" class="form-label">{{ "Login"|trans|raw }}</label>
                        <input type="text" class="form-control col-6" id="usuario" name="usuario"
                               placeholder="Login Name" value="{{ usuario }}">
                    </div>
                    <div class="mb-3">
                        <label for="example" class="form-label">{{ "Nombre a mostrar"|trans|raw }}</label>
                        <input type="text" class="form-control" id="nom_usuario" name="nom_usuario"
                               placeholder="Nombre a mostrar" value="{{ nom_usuario }}">
                    </div>
                    <div class="mb-3">
                        <label for="example"
                               class="form-label">{{ "Dirección de correo electrónico"|trans|raw }}</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
                               value="{{ email }}">
                    </div>
                    {% if ver_cargos %}
                        <div class="mb-3">
                            <label for="example" class="form-label">{{ "Cargo Preferido"|trans|raw }}</label>
                            {{ oDesplCargos.desplegable|raw }}
                        </div>
                    {% endif %}
                    <div class="row mb-3">
                        <button onclick="fnjs_guardar(this.form);" type="button"
                                class="col-4 btn btn-primary w-100">{{ "Guardar"|trans|raw }}</button>
                        <div class="col-1"></div>
                        <button onclick="fnjs_cancelar();" type="button"
                                class="col-4 btn btn-secondary w-100">{{ "Cancelar"|trans|raw }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    fnjs_guardar = function (formulario) {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
        }
        var url_doc = 'src/usuarios/controller/usuario_update.php';
        var data = $(formulario).serialize();
        request = $.ajax({
            url: url_doc,
            data: data,
            method: 'POST'
        });
        request.done(function (json) {
            if (json.success != true) {
                alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
            } else {
                if (json.alert != undefined) {
                    alert('{{ "alerta"|trans|raw }}: ' + json.alert);
                }
                {{ oPosicion.js_atras(1)|raw }}
            }
        });
    }

    fnjs_cancelar = function () {
        if (typeof event !== 'undefined') {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            // Asegurarme que es por click y no por return (posicion: 0,0)
            var x = event.x || event.clientX;
            var y = event.y || event.clientY;
            if (!x && !y) {
                return false;
            }
        }
        fnjs_update_div('#main', '{{ pagina_cancel|raw }}');
    }
</script>