 <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

 <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> {{ "Admin"|trans }} </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      
      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "Usuarios y cargos"|trans }}
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "usuarios"|trans }}</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Usuarios Components:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/usuarios/controller/usuario_lista.php')" href="#">
                {{ "Lista"|trans }}
            </a>
            <a class="collapse-item active" onclick="fnjs_update_div('#main','apps/usuarios/controller/suplente_lista.php')" href="#">
                {{ "Suplentes"|trans }}
            </a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCargos" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "Cargos"|trans }}</span>
        </a>
        <div id="collapseCargos" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/usuarios/controller/cargo_grupo_lista.php')" href="#">
            	{{ "lista grupos firmas"|trans }}
            </a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/usuarios/controller/cargo_lista.php')" href="#">
                {{ "Buscar / modificar"|trans }}
            </a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "Aplicación"|trans }}
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>{{ "Config"|trans }}</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ "del entorno"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/lugares/controller/lugar_lista.php')" href="#">
                {{ "Lugares"|trans }}</a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/lugares/controller/grupo_lista.php')" href="#">
                {{ "Grupos de distribución"|trans }}</a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/usuarios/controller/oficina_lista.php')" href="#">
                {{ "Oficinas"|trans }}</a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/tramites/controller/tramite_lista.php')" href="#">
                {{ "Trámites (nombres)"|trans }}</a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/tramites/controller/tramitecargo_select.php')" href="#">
                {{ "Trámites (recorrido)"|trans }}</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">{{ "de la aplicación"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/config/controller/parametros.php')" href="#">
                {{ "Parámetros"|trans }}</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/devel/controller/factory_form.php')" href="#">factory</a>
            <a class="collapse-item" href="#">generar claves</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Davical -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDavical" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "Davical"|trans }}</span>
        </a>
        <div id="collapseDavical" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/migration/controller/migration_index.php')" href="#">
            	{{ "mitration reg"|trans }}
            </a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/davical/controller/user_lista.php')" href="#">
            	{{ "lista usuarios"|trans }}
            </a>
            <a class="collapse-item" href="http://{{ server_davical }}">
                {{ "Admin"|trans }}
            </a>
          </div>
        </div>
      </li> 
      
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="fnjs_logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>{{ "Salir"|trans }}</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Page content -->
    <div id="main" style="margin: 1cm;">


    <!-- End of Page content -->
    </div>
<!-- End of Page Wrapper -->
</div>

<div id="cargando" >{{ "Cargando..."|trans }}</div>
<div id="left_slide" class="left-slide">
<span class=handle onClick="fnjs_ir_a('#ir_atras');"></span>
</div>

<!-- Bootstrap core JavaScript-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- jQuery CSS -->
<link type="text/css" rel='stylesheet' href='node_modules/jquery-ui/themes/base/all.css' />

<!-- CSS jQuery DateTimePicker -->
<link type="text/css" rel="stylesheet" href="node_modules/jquery-datetimepicker/jquery.datetimepicker.css" crossorigin="anonymous">
<script type="text/javascript" src='node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js'></script>

<!-- sprintf -->
<script type="text/javascript" src="node_modules/sprintf-js/dist/sprintf.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="node_modules/jquery-ui-sortable/jquery-ui.min.js"></script>
<script type="text/javascript" src='node_modules/jquery-ui-dist/jquery-ui.min.js'></script>
 
<!-- Slick -->
<!-- OJO: IMPORTA el orden. Pueden salir avisos (en consola del navegador) tipo: Grid.xx not defined
<link type='text/css' rel='stylesheet' href='node_modules/slickgrid/slick.grid.css' />

<script type='text/javascript' src='node_modules/slickgrid/lib/firebugx.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/lib/jquery.event.drag-2.3.0.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/lib/jquery.event.drop-2.3.0.js'></script>

<script type='text/javascript' src='node_modules/slickgrid/slick.core.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/slick.grid.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/slick.editors.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/slick.formatters.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/slick.dataview.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.autotooltips.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellrangedecorator.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellrangeselector.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.cellselectionmodel.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.checkboxselectcolumn.js'></script>
<script type='text/javascript' src='node_modules/slickgrid/plugins/slick.rowselectionmodel.js'></script>

<link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.columnpicker.css' />
<script type='text/javascript' src='node_modules/slickgrid/controls/slick.columnpicker.js'></script>
<link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.gridmenu.css' />
<script type='text/javascript' src='node_modules/slickgrid/controls/slick.gridmenu.js'></script>
<link type='text/css' rel='stylesheet' href='node_modules/slickgrid/controls/slick.pager.css' />
<script type='text/javascript' src='node_modules/slickgrid/controls/slick.pager.js'></script>
-->

<!-- Custom scripts for all pages-->
<!-- vars: mi_idioma, error_fecha -->
{% include '_scripts_default.html.twig' %}
{% include '@global_js/slickgrid.js.twig' %}
<script src="js/sb-admin-2.js"></script>

<!-- DataTables -->
<link type="text/css" rel="stylesheet" href='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' />
<script type="text/javascript" src='node_modules/datatables.net/js/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js'></script>
