 <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

 <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> {{ "Admin"|trans }} <br> {{ "Servidor"|trans }} </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>{{ "Dashboard"|trans }}</span></a>
      </li>
      <!-- Nav Item - Preferencias -->
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="fnjs_update_div('#main','{{ pagina_profile|raw }}')">
          <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
          <span>{{ "Preferencias"|trans }}</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      
      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "Servidor"|trans }}
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>{{ "Configuración"|trans }}</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ "Lugares (ctr, dl)"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/lugares/controller/lugar_lista.php')" href="#">
                {{ "Buscar / modificar"|trans }}</a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/lugares/controller/lugar_mantenimiento.php')" href="#">
                {{ "Enviar cambios"|trans }}</a>
            <h6 class="collapse-header">{{ "de la aplicación"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/config/controller/parametros_servidor.php')" href="#">
                {{ "Parámetros"|trans }}</a>
            <h6 class="collapse-header">{{ "Usuarios admin"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/usuarios/controller/usuario_lista.php')" href="#">
                {{ "Lista de usuarios"|trans }}
            </a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>{{ "Utilidades"|trans }}</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-bs-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ "Custom Utilities"|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/devel/controller/factory_form.php')" href="#">factory</a>
            <a class="collapse-item" href="#">{{ "generar claves"|trans }}</a>
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "Multiples entidades"|trans }}
      </div>

      <!-- Nav Item - Múltiples entidades (ctrs) Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCentros" aria-expanded="true" aria-controls="collapseCentros">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "Entidades"|trans }}</span>
        </a>
        <div id="collapseCentros" class="collapse" aria-labelledby="headingCentros" data-bs-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ "Múltiples centros, dl.."|trans }}:</h6>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/entidades/controller/entidad_lista.php')" href="#">{{ "lista"|trans }}</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "HoloDeckb2b"|trans }}
      </div>
      
      <!-- Nav Item - Holodeckb2b -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHolodeck" aria-expanded="true" aria-controls="collapseDavical">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "Holodeck"|trans }}</span>
        </a>
        <div id="collapseHolodeck" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/oasis_as4/controller/definir_plataforma.php')" href="#">
            	{{ "definir plataforma"|trans }}
            </a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/oasis_as4/controller/pdm_lista.php')" href="#">
            	{{ "lista pdm"|trans }}
            </a>
            <a class="collapse-item"  onclick="fnjs_update_div('#main','apps/oasis_as4/controller/pdm_exportar.php')" href="#">
                {{ "exportar pdm local"|trans }}
            </a>
            <a class="collapse-item"  onclick="fnjs_update_div('#main','apps/oasis_as4/controller/pdm_importar.php')" href="#">
                {{ "importar pdm"|trans }}
            </a>
          </div>
        </div>
      </li> 
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        {{ "Servidor Davical"|trans }}
      </div>
      
      <!-- Nav Item - Davical -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDavical" aria-expanded="true" aria-controls="collapseDavical">
          <i class="fas fa-fw fa-folder"></i>
          <span>{{ "Davical"|trans }}</span>
        </a>
        <div id="collapseDavical" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/migration/controller/migration_index.php')" href="#">
            	{{ "mitration reg"|trans }}
            </a>
            <a class="collapse-item" onclick="fnjs_update_div('#main','apps/davical/controller/proves_index.php')" href="#">
            	{{ "pruebas"|trans }}
            </a>
            <a class="collapse-item" href="{{ server_davical }}">
                {{ "Admin"|trans }}
            </a>
          </div>
        </div>
      </li> 
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="fnjs_logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>{{ "Salir"|trans }}</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>



    </ul>
    
    
    
    <!-- End of Sidebar -->
    <!-- Page content -->
    <div id="main" style="margin: 1cm;">


    <!-- End of Page content -->
    </div>
<!-- End of Page Wrapper -->
</div>

<div id="cargando" >{{ "Cargando..."|trans }}</div>
<div id="left_slide" class="left-slide">
<span class=handle onClick="fnjs_ir_a('#ir_atras');"></span>
</div>

<!-- Bootstrap core JavaScript-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- jQuery CSS -->
<link type="text/css" rel='stylesheet' href='node_modules/jquery-ui/themes/base/all.css' />

<!-- CSS jQuery DateTimePicker -->
<link type="text/css" rel="stylesheet" href="node_modules/jquery-datetimepicker/jquery.datetimepicker.css" crossorigin="anonymous">
<script type="text/javascript" src='node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js'></script>

<!-- sprintf -->
<script type="text/javascript" src="node_modules/sprintf-js/dist/sprintf.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="node_modules/jquery-ui-sortable/jquery-ui.min.js"></script>
<script type="text/javascript" src='node_modules/jquery-ui-dist/jquery-ui.min.js'></script>

<!-- Custom scripts for all pages-->
<!-- vars: mi_idioma, error_fecha -->
{% include '_scripts_default.html.twig' %}
{% include '@global_js/slickgrid.js.twig' %}
<script src="js/sb-admin-2.js"></script>

<!-- DataTables -->
<link type="text/css" rel="stylesheet" href='node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css' />
<script type="text/javascript" src='node_modules/datatables.net/js/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js'></script>
