<script>
fnjs_guardar=function(formulario){
	datos = $(formulario).serialize();	
	request=$.ajax({
		data: datos,
		url: '{{ url_update }}',
		type: 'post',
		dataType: 'json'
	});
	request.done( function (json) {
		if (json.success != true) {
			alert ('{{ "respuesta"|trans|raw }}: '+json.mensaje);
		} else {
            {{ oPosicion.js_atras(1)|raw }}
		}
	});
}
</script>
<div class="card" style="width: 30rem;">
  <div class="card-header">
    <h5 class="card-title">{{ "Datos del Cargo"|trans }}</h5>
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-12">
      <form class="user" id="frm_cargo"  name="frm_cargo" action="" method="post">
      {{ oHash.getCamposHtml|raw }}
        <div class="mb-3 input-group col-6">
           <span class="input-group-text">Cargo</span>
           <input type="text" class="form-control" id="cargo" name="cargo" placeholder="nombre del cargo" value="{{ cargo }}">
        </div>
        <div class="mb-3 input-group col-10">
            <span class="input-group-text">Descripción</span>
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" value="{{ descripcion }}">
        </div>
		<div class="row mb-3">
          <div class="col-6">
          <label for="example" class="form-label">{{ "Oficina"|trans }}</label>
			{{ oDesplOficinas.desplegable|raw }}
		  </div>
          <div class="col-6">
		  <input type="checkbox" class="form-check-input" id="director" name="director" {{ chk_director }}>
    	  <label class="form-check-label" for="director">{{ "director"|trans }}</label>
    	  </div>
        </div>
        
		<div class="row mb-3">
          <div class="col-6">
          <label for="example" class="form-label">{{ "Titular"|trans }}</label>
			{{ oDesplUsuarios.desplegable|raw }}
		  </div>
		</div>
		 
		<div class="row mb-3">
          <div class="col-6">
          <label for="example" class="form-label">{{ "Suplente"|trans }}</label>
			{{ oDesplSuplentes.desplegable|raw }}
		  </div>
		 </div>
        <div class="mb-3 input-group col-10">
          <button onclick="fnjs_guardar(this.form);" type="button" class="btn btn-primary w-100 col-6">{{ "Guardar"|trans }}</button>
        </div>
      </form>
  </div>
</div>
</div>
</div>