<script>
    fnjs_nuevo = function () {
        $('#frm_buscar').attr('action', "apps/usuarios/controller/cargo_form.php");
        fnjs_enviar_formulario('#frm_buscar');
    }
    fnjs_editar = function () {
        $('#seleccionados').attr('action', "{{ url_form }}");
        $('#que').val('editar');
        fnjs_enviar_formulario('#seleccionados');
    }
    fnjs_eliminar = function () {
        rta = fnjs_solo_uno('#seleccionados');
        if (rta == 1) {
            if (confirm("{{ "¿Está seguro que desea borrar este cargo?"|trans|raw }}")) {
                datos = $('#seleccionados').serialize();
                request = $.ajax({
                    data: datos,
                    url: '{{ url_ajax }}',
                    method: 'POST',
                    dataType: 'json'
                });
                request.done(function (json) {
                    if (json.success != true) {
                        alert('{{ "respuesta"|trans|raw }}: ' + json.mensaje);
                    } else {
                        fnjs_actualizar();
                    }
                });
            }
        }
    }
    fnjs_actualizar = function () {
        var url = '{{ url_actualizar }}';
        fnjs_update_div('#main', url);
    }
    fnjs_left_side_hide();
</script>
<h3>{{ "Lista de cargos"|trans|raw }}</h3>
<br>
<form id=seleccionados name=seleccionados action="" method="post">
    {{ oHash.getCamposHtml|raw }}
    {{ oTabla.mostrar_tabla|raw }}
</form>
<br>
{% if permiso == 1 %}
    <button type="button" class="btn btn-primary btn w-100" onclick="fnjs_update_div('#main','{{ url_nuevo }}');">
        {{ "nuevo cargo"|trans }}
    </button>
{% endif %}