<script>
fnjs_nuevo=function(){
	$('#frm_buscar').attr('action',"apps/usuarios/controller/oficina_form.php");
	fnjs_enviar_formulario('#frm_buscar');
}
fnjs_eliminar=function(){
	rta=fnjs_solo_uno('#seleccionados');
	if (rta==1) {
		if (confirm("{{ "¿Está seguro que desea borrar esta oficina?"|trans }}") ) {
			datos = $('#seleccionados').serialize();	
			request=$.ajax({
				data: datos,
				url: '{{ url_ajax }}',
				method: 'POST',
				dataType: 'json'
			});
			request.done( function (json) {
				if (json.success != true) {
					alert ('{{ "respuesta"|trans|raw }}: '+json.mensaje);
				} else {
					fnjs_actualizar();
				}
			});
		}
	}
}
fnjs_actualizar=function(){
	var url='{{ url_actualizar }}';
	fnjs_update_div('#main',url);
}
fnjs_left_side_hide();
</script>
<h3>{{ "Lista de oficina"|trans }}</h3>
<br>
</form>
<form id=seleccionados  name=seleccionados action="" method="post" >
{{ oHash.getCamposHtml|raw }}
{{ oTabla.mostrar_tabla|raw }}
</form>
<br>
{% if permiso == 1  %} 
    <button type="button" class="btn btn-primary btn w-100" onclick="fnjs_update_div('#main','{{ url_nuevo }}');">
    {{ "nueva oficina"|trans}}
    </button>
{%  endif %}