<ul class="nav nav-pills" id="pills-tab" role="tablist">
{% for pill in a_pills %}
  <li class="nav-item">
    {# <a data-bs-toggle="pill" class="nav-link {{ pill.active }}" href="#" onClick="fnjs_update_div('#main','{{ pill.pag_lst }}');"> #}
    
    <button class="nav-link {{ pill.active }}" onClick="fnjs_update_div('#main','{{ pill.pag_lst }}');">
	{{ pill.orden }}.- {{ pill.text }}
    {% if pill.num %}
		<span class="badge rounded-pill bg-danger">{{ pill.num }}</span>
	{% endif %}
    </a>
  </li>
  {% endfor %}
  <li class="nav-item">
  {% if a_roles|length > 1 %}
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ role_actual }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for role in a_roles %}
        <a class="dropdown-item" href="" onClick="fnjs_cmb_role('{{ role }}')">{{ role }}</a>
      {% endfor %}
      </ul>
    </div>
  {% else %}
    <a class="nav-link disabled" href="#">
      {{ role_actual }}
    </a>
  {% endif %}
  </div>
  </li>
</ul>
<!-- End of Page content -->

<script type="text/javascript">
fnjs_cmb_role=function(role){
	//cambio las etiquetas:
	$("#dropdownMenuLink").html(role);
    var url_ajax = 'apps/usuarios/controller/usuario_update.php';
    var param_json = { que: 'role', role: role };
    request=$.ajax({
        data: param_json,
        url: url_ajax,
        type: 'post'
    });
    request.done( function (rta) {
        fnjs_update_div('body', '');
    });
}

tabs_hide=function(){
	$('#tabs').hide();
}
tabs_show=function(vista,filtro=''){
	// recalcular...
	//var id_expediente=$('#id_expediente').val();
	if (vista == 'home') {
        var url_ajax = 'apps/usuarios/controller/usuario_home.php';
    }
	if (vista == 'secretaria') {
        var url_ajax = 'apps/usuarios/controller/usuario_secretaria.php';
    }
    var param_json = { tabs: 'si', filtro: filtro };
    request=$.ajax({
        data: param_json,
        url: url_ajax,
        type: 'post'
    });
    request.done( function (rta) {
          	$("#tabs").html(rta);
    });
	$('#tabs').show();
}
</script>
