<script>
fnjs_guardar=function(formulario){
	var url='{{ url }}';
    $(formulario).attr('action',url);
    $(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert (rta_txt);
			}
        });
        return false;
    });
    $(formulario).trigger("submit");
    $(formulario).off();
}
</script>


<h3>{{ "plazos"|trans }}:</h3>
  <form id="frm_pu" name="frm_pu" action="">
    {{ oHashPU.getCamposHtml|raw }}
    {{ "plazo urgente"|trans }}:
    <input type="text" size="5" name="valor" value="{{ plazo_urgente }}" >
    {{ "días"|trans }}
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
  </form>
  <form id="frm_pr" name="frm_pr" action="">
    {{ oHashPR.getCamposHtml|raw }}
    {{ "plazo rápido"|trans }}:
    <input type="text" size="5" name="valor" value="{{ plazo_rapido }}" >
    {{ "días"|trans }}
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
  </form>
  <form id="frm_pn" name="frm_pn" action="">
    {{ oHashPN.getCamposHtml|raw }}
    {{ "plazo normal"|trans }}:
    <input type="text" size="5" name="valor" value="{{ plazo_normal }}" >
    {{ "días"|trans }}
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
  </form>
  <form id="frm_pe" name="frm_pe" action="">
    {{ oHashPE.getCamposHtml|raw }}
    {{ "error en fecha"|trans }}:
    <input type="text" size="5" name="valor" value="{{ plazo_error }}" >
    {{ "días"|trans }}
    <input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
  </form>
<hr>

<h3>{{ "sigla"|trans }}:</h3>
<form id="frm_sigla" name="frm_sigla" action="">
{{ oHashRL.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ sigla }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "valor inicio contadores"|trans }}:</h3>
<form id="frm_contador" name="frm_contador" action="">
{{ oHashC.getCamposHtml|raw }}
{{ "para cr"|trans }}
<input class="col-2" type="text" name="valor" value="{{ ini_contador_cr }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_contador1" name="frm_contador1" action="">
{{ oHashC1.getCamposHtml|raw }}
{{ "para el resto"|trans }}
<input class="col-2" type="text" name="valor" value="{{ ini_contador }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "idioma por defecto"|trans }}:</h3>
<form id="frm_idioma_default" name="frm_idioma_default" action="">
{{ oHashI.getCamposHtml|raw }}
{{ idioma_default.desplegable|raw }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "Ámbito del esquema: centro, delegación, comisión regional"|trans }}:</h3>
<form id="frm_dl_r" name="frm_dl_r" action="">
{{ oHashDLR.getCamposHtml|raw }}
<input type="radio" name="valor" value="{{ val_ctr }}" {{ chk_ctr }} >{{ "centro"|trans }}
<input type="radio" name="valor" value="{{ val_dl }}" {{ chk_dl }} >{{ "delegación"|trans }}
<input type="radio" name="valor" value="{{ val_cr }}" {{ chk_cr }} >{{ "comisión"|trans }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

<h3>{{ "servidor etherpad"|trans }}:</h3>
<form id="frm_server" name="frm_server" action="">
{{ oHashSE.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ server_etherpad }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>
<h3>{{ "servidor ethercalc"|trans }}:</h3>
<form id="frm_server_c" name="frm_server_c" action="">
{{ oHashSEC.getCamposHtml|raw }}
<input type="text" name="valor" value="{{ server_ethercalc }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>
<h3>{{ "servidor SMTP"|trans }}:</h3>
<form id="frm_from" name="frm_from" action="">
{{ oHashFrom.getCamposHtml|raw }}
{{ "From:"|trans }}
<input type="text" name="valor" value="{{ from }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_reply_to" name="frm_reply_to" action="">
{{ oHashReply.getCamposHtml|raw }}
{{ "Reply to:"|trans }}
<input type="text" name="valor" value="{{ reply_to }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_host" name="frm_smtp_host" action="">
{{ oHashSMTP_host.getCamposHtml|raw }}
{{ "Host:"|trans }}
<input type="text" name="valor" value="{{ smtp_host }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_port" name="frm_smtp_port" action="">
{{ oHashSMTP_port.getCamposHtml|raw }}
{{ "Port:"|trans }}
<input type="text" name="valor" value="{{ smtp_port }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_auth" name="frm_smtp_auth" action="">
{{ oHashSMTP_auth.getCamposHtml|raw }}
{{ "usar autenticación:"|trans }}
<input type="checkbox" name="valor" value="{{ val_auth }}" {{ chk_auth }} >{{ "Si"|trans }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_user" name="frm_smtp_user" action="">
{{ oHashSMTP_user.getCamposHtml|raw }}
{{ "User:"|trans }}
<input type="text" name="valor" value="{{ smtp_user }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_pwd" name="frm_smtp_pwd" action="">
{{ oHashSMTP_pwd.getCamposHtml|raw }}
{{ "Password:"|trans }}
<input type="text" name="valor" value="{{ smtp_pwd }}" >
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<form id="frm_smtp_secure" name="frm_smtp_secure" action="">
{{ oHashSMTP_secure.getCamposHtml|raw }}
{{ "seguridad:"|trans }}
<input type="radio" name="valor" value="{{ val_tls }}" {{ chk_tls }} >{{ "tls"|trans }}
<input type="radio" name="valor" value="{{ val_ssl }}" {{ chk_ssl }} >{{ "ssl"|trans }}
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<hr>

