<script>
fnjs_guardar=function(formulario){
	var url='{{ url }}';
    $(formulario).attr('action',url);
    $(formulario).one("submit", function() {
		$.ajax({
			url: $(this).attr('action'),
			type: 'post',
			data: $(this).serialize()
		})
		.done(function (rta_txt) {
			if (rta_txt != '' && rta_txt != '\n') {
				alert (rta_txt);
			}
        });
        return false;
    });
    $(formulario).trigger("submit");
    $(formulario).off();
}
</script>

<h3>{{ "Parametros del scdl (los puede cambiar el suplente)"|trans }}:</h3>

<form id="frm_perm_dist" name="frm_perm_dist" action="">
{{ oHashPD.getCamposHtml|raw }}
{{ "Los oficiales de secreataría pueden distribuir:"|trans }}
<input type="checkbox" name="valor" value="{{ val_perm_distribuir }}" {{ chk_perm_distribuir }} >{{ "Si"|trans }}
<br>
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>
<br>
<form id="frm_perm_aceptar" name="frm_perm_aceptar" action="">
{{ oHashPA.getCamposHtml|raw }}
{{ "Los oficiales de secreataría pueden aceptar entradas:"|trans }}
<input type="checkbox" name="valor" value="{{ val_perm_aceptar }}" {{ chk_perm_aceptar }} >{{ "Si"|trans }}
<br>
<input type="button" value="{{ "guardar"|trans }}" onclick="fnjs_guardar(this.form);" >
</form>

